// <div className='annotation'>
//     <div className='user'>
//       {/* gravat */}
//       <img src={"https://www.gravatar.com/avatar/" + user.image_url_hash} />
//     </div>
//     <div className='bubble'>
//       <div className='username'>{props.user.username}</div>
//       <div className='content'>{props.content}</div>
//     </div>
//   </div>

// style it like in GH issues

.annotation-thread {
  --highlight-color: rgba(132, 126, 255, 0.445);
  --highlight-message: rgba(132, 126, 255, 0.125);
  --text-color: #2e2e2e;
  --secondary-background-color: #f0f0f097;
  --border-color: rgb(218, 217, 217);

  display: flex;
  flex-direction: column;
  margin-top: 12.5pt;
  overflow-x: auto;

  .annotation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    span.time {
      opacity: 1;
      margin-left: 0pt;
    }

    .user {
      margin-top: -0.5pt;
      margin-right: 0pt;
      width: 50px;

      img {
        border-radius: 4pt;
        overflow: hidden;
        width: 30px;
        height: 30px;
        margin-top: 2pt;
      }
    }

    .bubble {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0pt;
      border-radius: 5pt;
      background-color: #f0f0f0;
      border: 1pt solid var(--border-color);
      margin-right: 5pt;
      margin-bottom: 5pt;
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      overflow: hidden;

      header {
        height: 10pt;
        border-bottom: 1pt solid var(--border-color);
        font-size: 10pt;
        width: auto;
        padding-top: 0pt;
        padding: 7.5pt;
        margin: 0pt;
        position: relative;
        overflow: visible;
        white-space: nowrap;

        i {
          opacity: 0.3;
        }

        b {
          margin-right: 3pt;
        }

        svg.caret {
          position: absolute;
          left: -7pt;
          top: 7pt;
          color: var(--border-color);
        }

        .actions {
          height: 20pt;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          margin-top: -2pt;

          pre {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 10pt;
            margin-top: 8pt;
          }

          button {
            background: none;
            font-size: 10pt;
            color: var(--text-color);
            margin: 0pt;
            height: 20pt;
            min-height: 0pt;
            border-radius: 0pt;
            line-height: 10pt;
            opacity: 0.3;
            margin-left: 5pt;
            padding: 0pt 2pt;
            text-align: center;

            &:hover {
              opacity: 1;
            }

            svg {
              display: inline-block;
              margin: auto;
            }
          }
        }
      }

      .content,
      textarea {
        width: calc(100% - 20pt);
        border: none;
        background-color: white;
        font-size: 12pt;
        padding: 10pt;
        margin: 0pt;
        outline: none;
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        color: var(--text-color);
        margin-bottom: -5pt;

        resize: vertical;
        
        b {
          background-color: rgba(88, 85, 246, 0.2);
          padding: 2px 4px;
          border-radius: 4px;
          margin-right: 3pt;
        }
      }

      .content {
        background-color: inherit;
        margin-bottom: 0pt;
      }

      > .actions {
        text-align: right;
        padding-bottom: 10pt;
        background-color: white;
        border-bottom-left-radius: 5pt;
        border-bottom-right-radius: 5pt;
        padding-right: 5pt;

        button {
          min-height: auto;
          border-radius: 4pt;
          font-size: 10pt;
          padding: 4pt 10pt;
          line-height: 15pt;
          height: 25pt;
          margin-left: 4pt;
          color: white;
          font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
          font-weight: 600;

          .shortcut {
            padding: 0pt 5pt;
            font-size: 10pt;
            line-height: 15pt;

            svg {
              top: 0pt;
              margin-right: 1pt;
            }
          }
        }
      }
    }
  }
}

.content-editable-text {
  border: none !important;
  min-height: 60px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 12pt;
  line-height: 1.4;
  background-color: white;
  
  b {
    background-color: rgba(88, 85, 246, 0.2);
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 3pt;
  }
}