@use "../../styles/Colors.scss" as *;

.guardrails {
  margin-top: 20px !important;
  margin: auto;
  border-radius: 5pt;
  padding: 10pt;
  margin-bottom: 20pt;
  padding-top: 30pt;

  h3 {
    font-size: 12pt;
    font-weight: bold;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 20pt;
    margin-right: -7pt;
    margin-bottom: 5pt;

    svg {
      position: relative;
      top: 1pt;
      margin-right: 3pt;
    }

    .secondary {
      font-weight: 500;
      margin-left: 5pt;
      line-height: 20pt;
      font-size: 10pt;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
  }

  .box {
    h2 {
      justify-content: flex-start;

      svg {
        position: relative;
        top: 3pt;
        margin-right: 5pt;
      }
    }

    &.empty {
      margin-bottom: 20pt;

      button {
        margin-top: 10pt;
      }
    }

    .policy {
      background-color: #f5f5f5;
      overflow-x: auto;
      border-radius: 5pt;
      margin-top: 15pt;
      border: 1pt solid #e0e0e0;

      // hide scroll bar
      ::-webkit-scrollbar {
        display: none !important;
      }

      // in all browsers
      -ms-overflow-style: none;
      scrollbar-width: none;

      overflow: auto;
      margin-bottom: 10pt;
    }

    i {
      font-size: 10pt;
      opacity: 0.5;
      font-weight: 500;
      font-style: italic !important;
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;

      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      button.inline {
        border-radius: 4pt;

        &:last-of-type {
          margin-right: 0pt;
        }
      }
    }
  }
}

@keyframes pulse-color {
  0% {
    color: rgb(251, 151, 151);
  }

  50% {
    color: #f5f5f5;
  }

  100% {
    color: rgb(251, 151, 151);
  }
}

@keyframes pulse-background {
  0% {
    background-color: rgb(251, 151, 151);
  }

  50% {
    background-color: #f5f5f5;
  }

  100% {
    background-color: rgb(251, 151, 151);
  }
}

@keyframes slide-in-content {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

button.policy-action {
  svg {
    width: 6pt;
  }
}

.box.full.setting.guardrail-item {
  padding-right: 5pt;

  &.applied {
    opacity: 0.4;
  }

  h1 {
    font-size: 12pt;
    line-height: 12pt;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: italic;
    font-weight: normal;

    svg {
      margin-right: 8pt;
      position: relative;
      top: 1.5pt;
    }
  }

  .guardrail-actions {
    button {
      border-radius: 4pt;
    }
  }
}

.guardrails .suggestions {
  display: flex;
  flex-direction: column;
}

.guardrail-list {
  min-height: 220pt;
  position: relative;
  padding-top: 10pt;

  .section-label {
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #555;

    .divider {
      height: 1px;
      background-color: #e0e0e0;
      margin: 15px 0;
    }
  }

  .note {
    font-size: 12px;
    font-style: italic;
    opacity: 0.8;
    margin-top: 5px;
    color: #666;
  }
}

.guardrail-action-select {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  >div {
    border: 1pt solid #e0e0e0;
    border-radius: 4pt;
    margin: 5pt;
    max-width: 220pt;
    padding: 5pt;
    font-size: 10pt;
    cursor: pointer;
    overflow: hidden;

    &.disabled {
      opacity: 0.5;
      cursor: default;
    }

    &:not(.disabled):hover {
      background-color: #ebebeb;
      border: 1pt solid $color-primary;
    }

    .icon {
      float: left;
      height: 100%;

      svg {
        height: 15pt;
        width: 15pt;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 10pt;
        margin-left: 5pt;
      }
    }

    b {
      display: inline-block;
      font-size: 10pt;
      margin: 0pt;
      margin-right: 5pt;
      padding: 0pt;
    }

    &.selected {
      border: 1pt solid $color-primary;
    }
  }
}

.policy-editor {
  height: 100%;
}

.policy-editor-form {
  .policy-name {
    width: calc(100% - 22pt) !important;
    height: 20pt !important;
  }

  .two-pane {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10pt;

    >div {
      border-right: 1pt solid #e0e0e0;
      padding-left: 5pt;
      padding-right: 5pt;

      &:last-of-type {
        border-right: none;
      }
    }
  }

  header {
    position: sticky;
    top: 0pt;

    .error {
      opacity: 0.8;
      background-color: red;
      color: white;
      padding: 4pt;
      border-radius: 4pt;
      font-size: 10pt;
    }

    b {
      svg {
        margin-right: 4pt;
        margin-left: 4pt;
        position: relative;
        top: 1pt;
      }

      .badge {
        margin-left: 10pt;
      }
    }
  }

  .guardrails-main {
    text-align: left;
    align-items: flex-start;
    padding: 0pt;
    padding-left: 5pt;
    width: calc(100% + 5pt);
    height: calc(100% - 30pt);
    padding-top: 2pt;

    background-color: $color-secondary-background;
    border-top: 1pt solid #e0e0e0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;

    input {
      margin-left: 5pt;
      height: 20pt;
      border-radius: 4pt;
      border: 1pt solid $border-color;
      padding: 5pt;
      width: calc(100%);
    }

    h3 {
      margin: 0pt;
      padding: 0pt;
      font-size: 10pt;
      font-weight: bold;
      margin-left: 5pt;
      margin-top: 10pt;
      margin-bottom: 5pt;
      width: 100%;

      i {
        font-weight: 500;
        opacity: 0.6;
        margin-left: 5pt;
        font-size: 1em;
        font-style: normal;
      }

      button {
        float: right;
        border-radius: 4pt;
        margin-left: auto;
        margin-right: 10pt;
        height: 25pt;

        svg {
          height: 10pt !important;
          width: 10pt !important;
        }
      }
    }

    p {
      margin: 0pt;
      padding: 0pt;
      font-size: 12pt;
      margin-left: 5pt;
    }

    label {
      text-align: left;
    }
  }
}

.editor-container {
  height: 800pt;
}

.editor-container.full {
  width: 100%;
  height: calc(100vh - 70vh - 75pt);
  min-height: 200pt !important;
  flex: 1;
  border-bottom: 1pt solid #e0e0e0;
  position: relative;

  .evaluator-controls {
    position: absolute;
    right: -7.5pt;
    padding: 8pt;
    top: auto;
    z-index: 0;
    bottom: 0pt;
    display: flex;
    flex-direction: row;

    >.secondary {
      line-height: 25pt;
      margin-right: 10pt;
      font-size: 10pt;
    }

    button {
      height: 25pt;
      border-radius: 4pt;
    }
  }
}

.policy-traces {
  height: calc(70vh) !important;
  overflow: hidden;
  flex: 1;
  position: relative;

  .box.empty {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .panel.fullscreen,
  .sidebyside {
    overflow: hidden;
    height: 100%;
  }

  .sidebar {
    height: calc(100% - 47.5pt) !important;
    // margin-top: 5pt !important;

    header {
      display: none;
    }

    .test-result,
    .annotation-indicator {
      display: none;
    }

    input {
      border: none;
    }
  }

  .panel.fullscreen,
  .sidebyside>.traceview {
    // margin-top: 5pt !important;
    overflow: hidden;
    height: calc(100% - 5pt) !important;
    position: relative;

    .traces {
      height: calc(100% - 75pt) !important;
      padding-bottom: 50pt !important;
    }
  }

  // .toolbar {
  //   display: none;
  // }
}

button.inline.icon-text {
  svg {
    margin-right: 10pt;
  }
}

.guardrails,
.policy-editor-form {
  .badge {
    font-size: 8pt;
    background-color: #f5f5f5;
    position: relative;
    top: 0pt;
    right: 5pt;
    border-radius: 10pt;

    font-size: 8pt;
    padding: 0pt 10pt;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  .badge.live {
    background-color: #f5f5f5;
    color: white;
    text-transform: uppercase;
    height: 10pt;
    font-size: 5pt;
    line-height: 10pt;
    padding: 0pt 5pt;
    position: relative;
    background-color: red;
    border-radius: 10pt;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-weight: 600;
    transform: scale(1.5);
    margin-right: 10pt;
    margin-left: 5pt;
    top: -1pt;

    animation: pulse-color 2s infinite;
  }
}

button.create-guardrail {
  border-radius: 4pt;
  opacity: 1;
  height: 30pt;
}

// Add styling for the quality-note in the PolicySynthesisModalContent
.policy-synthesis-form.form {
  width: 500pt;

  p {
    margin-top: 0pt;
    margin-bottom: 10pt;
  }

  .banner-note {
    margin-bottom: 25pt;
  }
}

.pulse-text {
  animation: pulse-text 2s linear infinite;
}

@keyframes pulse-text {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

svg.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

span.policy-code {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  border-radius: 4pt;
  font-family: monospace;
  background-color: #e4e4e4;
  color: rgb(83, 83, 83);
  padding: 3pt 5pt;
  opacity: 0.3;
  margin-right: 10pt;
  max-width: 30%;
}

.guardrail-item {
  display: flex;
  flex-direction: row;

  h1 {
    white-space: nowrap;
  }

  .badge {
    display: inline-block;
    line-height: 1.5em;
    font-size: 1em;
    padding: 0pt;
    position: relative;
    top: 1.5pt;
    height: auto;
    margin: 0pt;
    margin: 0pt 10pt;
    transform: scale(1.2);
    font-size: 8pt;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 25pt;
    padding-right: 5pt;

    &.blue {
      background-color: #d6ecff;
      color: #1e90ff;
    }

    svg {
      margin-left: 5pt;
      margin-right: 0pt !important;
      padding: 0pt;
      position: relative;
      display: inline-block;
      top: -1pt;
    }
  }
}

.policy-type-selection {
  > h3 {
    opacity: 0.8;
  }

  label {
    opacity: 1;
    border-bottom: 1pt solid #e0e0e0;
    padding-bottom: 10pt;
    font-size: 12pt;

    h3 {
      display: inline-block;
      font-weight: normal;
      font-size: 13pt;
    }

    span.subtext {
      display: block;
      opacity: 0.8;
    }
  }

  input {
    display: inline-block;
    margin-right: 10pt;
    position: relative;
    top: -1.5pt;
  }
}

button .progress,
.box.empty .progress {
  background-color: #f5f5f5;
  color: #555;
  padding: 0pt 5pt;
  border-radius: 4pt;
  margin-left: 7.5pt;
  position: relative;
  top: -0.5pt;
  opacity: 0.5;
}

.box.empty .progress {
  background-color: rgba(0, 0, 0, 0.226);
}

.box.empty {
  h3 {
    font-weight: normal;
    margin-bottom: 10pt;
  }

  svg {
    position: relative;
    top: 3pt !important;
  }
}