@use "./Colors.scss" as *;

@use "sass:color";

$scale: 1;
$content-width: 1000pt;
$text-color: #2e2e2e;
$footer-color: #17161e;

// colors
$color-primary: #3e3aff;
$color-button: #aeadbf;
$color-button-primary: #3a3e60;
$color-button-blue: #948fe4;

// $border-color: #aeadbf51;
$border-color: rgb(218, 217, 217);

$color-green: #4aec9b;

body {
  margin: 0;
  padding: 0;
  color: $text-color;

  --color-border: #e1e4e8;
  --color-active-border: rgb(192, 199, 206);
  --color-text: black;
  --color-highlight: hsla(247, 60%, 97%, 0.685);
  --color-highlight-dark: hsl(240, 52%, 43%);
  --color-highlight-text: #474747;
  --color-secondary-background: $color-secondary-background;
  --color-primary-background: white;
  --color-error-background: #f9e7e9;
  --color-thumbs-up-highlight: #0f9d0f2d;
  --color-thumbs-down-highlight: #ba29292d;

  --nav-width: 40pt;
  display: flex;
}

header.top {
  display: flex;
  height: 40pt;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  width: auto;
  border-bottom: 1pt solid $border-color;

  padding: 0pt 5pt;

  .sidebar {
    position: absolute;
    left: 0pt;
    top: 0pt;
    bottom: 0pt;
    width: 250pt;
    z-index: 10000;

    .sidebar-background {
      background-color: rgba(0, 0, 0, 0.2);
      transition: background-color 0.1s;
      position: absolute;
      top: 0pt;
      left: 0pt;
      width: 100vw;
      height: 100vh;
    }

    > ul {
      background-color: white;
      border-right: 1pt solid $border-color;
      width: auto;
      position: relative;

      margin: 0pt;
      padding: 0pt;
      height: 100vh;
      list-style-type: none;
      box-shadow: 0pt 0pt 10pt 0pt rgba(0, 0, 0, 0.1);
      z-index: 10002;
      position: relative;
      left: 0pt;
      transition: left 0.1s;

      button {
        position: absolute;
        top: 5pt;
        right: 5pt;

        svg {
          transform: scale(1.3);
        }
      }

      li.logo {
        height: 30pt;
        margin-bottom: 5pt;
        padding-top: 4pt;
        padding-left: 7pt;

        h1 {
          margin: 0pt;
          padding-left: 0pt;
          padding-top: 0pt;

          &:hover {
            background: none;
          }
        }

        &:hover {
          background: none;
        }
      }

      li {
        margin-left: 10pt;

        a {
          display: block;
          padding: 2pt 10pt;
        }
      }

      h2 {
        font-size: 10pt;
        font-weight: 600;
        margin-left: 0pt;
        padding-left: 20pt;
        padding-top: 10pt;
        margin-top: 15pt;
        border-top: 1pt solid $border-color;
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        margin-bottom: -5pt;

        a,
        a:visited {
          text-decoration: none;
          color: inherit;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      p {
        padding-left: 20pt;
        font-size: 10pt;

        a {
          display: inline-block;
          margin-right: 5pt;
          opacity: 0.8;
          color: $color-primary;
          text-decoration: none;

          &:hover {
            opacity: 1;
            text-decoration: underline;
          }

          &:visited {
            color: $color-primary;
          }
        }
      }

      li:not(.logo) {
        cursor: pointer;
        font-size: 12pt;
        border-radius: 4pt;
        margin-left: 10pt;
        margin-top: 5pt;
        margin-right: 10pt;

        svg {
          margin-right: 8pt;
          position: relative;
          top: 2pt;
          display: inline-block;
          stroke-width: 0.4pt;
          opacity: 0.8;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.078);
        }

        a {
          text-decoration: none;
          color: $text-color;
        }
      }

      li.separator {
        border-bottom: 1pt solid $border-color;
        margin: 5pt 4pt;
      }
    }

    &:not(.open) {
      .sidebar-background {
        background-color: rgba(0, 0, 0, 0);
      }

      ul {
        left: -260pt;
      }
    }
  }

  button.top {
    padding: 0pt;
    background: none;
    color: $text-color;
    border: 1pt solid $border-color;
    border-radius: 6pt;
    width: 25pt;
    height: auto;
    padding: 3pt;
    margin-right: 5pt;
    margin-left: 5pt;

    svg {
      flex: 1;
      margin: auto;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.078);
    }
  }

  button.inline {
    margin-right: 8pt;
    height: 25pt;
    border-radius: 6pt;

    &:last-of-type {
      margin-right: -10pt;
    }
  }

  .nav-link {
    font-size: 10pt;
    text-decoration: none;
    opacity: 0.8;
    color: $text-color;
    margin-right: 10pt;

    &:hover {
      opacity: 1;
    }
  }

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 5pt;
    padding: 0pt 5pt;
    position: relative;
    top: -1pt;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 5pt;
    height: 30pt;
    margin-top: 4pt;
    transition: background-color 0.2s;
    position: relative;

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.078);
    }

    div {
      margin-right: 5pt;
    }

    div.avatar {
      z-index: 2;
      overflow: hidden;
      border-radius: 4pt;
      transform: scale(0.8);

      img {
        border-radius: 4pt;
        overflow: hidden;
        width: 25pt;
        height: 25pt;
        margin-top: 2pt;
      }
    }

    > p {
      z-index: 2;
    }

    .popover {
      position: absolute;
      top: 34pt;
      right: -5pt;
      background-color: white;
      border-radius: 4pt;
      padding: 5pt;
      display: none;
      z-index: 1000;
      z-index: 9999;
      min-width: 100pt;
      box-shadow: 0pt 0pt 1pt 0pt rgba(0, 0, 0, 0.1);

      &.active {
        display: block;
      }

      ul {
        padding: 0pt;
        margin: 0pt;
        list-style-type: none;

        li {
          padding: 5pt;
          cursor: pointer;
          // prevent line breaks
          white-space: nowrap;

          &.disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: default;
          }

          &:hover {
            background-color: var(--color-highlight);
          }

          a,
          a:visited {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: rgb(28, 28, 28);
            margin: -5pt;
            padding: 5pt;
            box-sizing: border-box;
          }
        }
      }
    }

    .arrow {
      position: absolute;
      top: -9pt;
      right: 0pt;
      width: 0;
      height: 0;
      border-left: 10pt solid transparent;
      border-right: 10pt solid transparent;
      border-bottom: 10pt solid white;
    }

    &.open {
      background-color: rgba(0, 0, 0, 0.078);

      .popover {
        display: block;
      }
    }
  }

  h1 {
    font-size: 16pt;
    font-weight: 500;

    display: flex;
    align-items: center;
    transition: background-color 0.2s;
    padding: 2pt 5pt;
    border-radius: 4pt;
    margin: 10pt 0pt;
    height: 30pt;
    margin-left: -2pt;

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.078);
    }

    img.logo {
      margin-right: 5pt;
      width: 20pt;
      height: 20pt;
    }
  }
}

div.spacer {
  flex: 1;
}

div.content {
  text-align: left;
  padding: 20pt;
  padding-top: 5pt;
  max-width: 800pt;
  margin: 0 auto;
  border-radius: 5pt;
  background-color: rgb(246, 246, 246);
  margin-top: 5pt;
  // min-width: 500pt;

  h1 {
    text-align: left;
  }
}

@media (max-width: 800px) {
  div.content {
    padding: 10pt;
    padding-top: 5pt;
  }
}

div.content.fullscreen {
  max-width: 100%;
  margin: 0pt;
  padding: 0pt 0pt;
}

div.panel {
  header {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    h1 {
      font-size: 24pt;
      line-height: 30pt;

      a {
        text-decoration: none;
        color: $text-color;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }

      .badge {
        margin-left: 10pt;
        position: relative;
        top: -4pt;
        line-height: 10pt;
      }
    }
  }

  &.fullscreen {
    header {
      height: 40pt;

      h1 {
        font-size: 14pt;
      }

      button.inline {
        height: 30pt;
      }
    }
  }

  h4 {
    font-size: 14pt;
    margin-top: 10pt;
    margin-bottom: -5pt;
  }

  ul {
    margin-top: 10pt;
    padding: 0pt;
    width: 100%;

    li {
      list-style-type: none;
      margin: 0pt;
      padding: 5pt 15pt;
      margin-bottom: 5pt;
      border-radius: 5pt;
      background-color: white;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      h3 {
        margin: 0pt;
        padding: 0pt;
        font-size: 12pt !important;
        line-height: 30pt;
        overflow: hidden;
        text-overflow: ellipsis;

        svg {
          margin-right: 5pt;
          position: relative;
          top: 1pt;
        }
      }

      span.description {
        opacity: 0.7;
        margin-left: 5pt;
        line-height: 30pt;
        font-size: 10pt;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        background-color: color.adjust(white, $lightness: -1%);
      }
    }
  }
}

button {
  svg {
    position: relative;
    top: 2pt;
    margin-right: 5pt;
  }
}

.editor-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0pt;
  z-index: 1000;
  width: 100%;
  height: calc(100vh);

  header {
    b {
      margin-left: 5pt;
    }
  }

  .modal-content {
    background-color: white;
    max-width: 90%;
    width: 800pt;
    height: calc(100% - 20pt);
    position: absolute;
    top: 10pt;
    left: 50%;
    transform: translateX(-50%);
    border: 1pt solid $border-color;
    box-shadow: 0pt 0pt 10pt 0pt rgba(0, 0, 0, 0.1);
    border-left: 1pt solid $color-secondary-background;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;

    border-radius: 5pt;
  }

  header {
    height: 40pt;
    background-color: $color-secondary-background;
    padding-top: 2.5pt;
    padding-bottom: 5pt;

    button.inline.cancel {
      background: none;
      border: none;
      margin-left: 4pt;
      margin-right: 0pt;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .policy-name {
      margin-left: 4pt;
      height: 26pt;
      background-color: transparent;
      border: 1pt solid $border-color;
      font-size: 14pt;
      font-style: italic;
      padding-left: 10pt;
      border-radius: 4pt;
      flex: 1;
      background-color: white;
      margin-right: 4pt;

      &:focus {
        outline: none;
      }
    }

    button.inline {
      height: 30pt;
      border-radius: 4pt;
    }
  }
}

@keyframes sidepane-slide-in {
  0% {
    right: -70%;
  }
  100% {
    right: 0%;
  }
}

.app-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    position: relative;
    font-size: 16pt;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 700pt;
    min-width: 300pt;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20pt;
    border-radius: 5pt;

    h1 {
      font-size: 24pt;
      margin: 0pt;
      color: $text-color;
      font-weight: 500;
      margin-bottom: 20pt;
      margin-bottom: 10pt;
      margin-top: -5pt;
    }

    h2 {
      font-size: 14pt;
      margin-top: -5pt;
      opacity: 0.8;
      margin-bottom: 10pt;
    }

    header.window-controls {
      position: absolute;
      width: calc(100% - 40pt);
      display: flex;
      top: 10pt;
      right: 25pt;
      border-bottom: 0pt;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      button {
        background: none;
        border: none;
        padding: 0pt;
        margin: 0pt;
        cursor: pointer;
        font-size: 12pt;
        color: $text-color;
        opacity: 0.5;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 1;
        }

        &:first-child {
          margin-right: 10pt;
        }
      }
    }
  }

  footer {
    width: 100%;
    height: auto;
    background: transparent;
    min-height: 40pt;
    justify-content: flex-end;
  }
}

.modal-content.view-options {
  display: block;

  .options {
    display: block;
    max-width: 320pt;

    h2 {
      font-size: 12pt;
      font-weight: bold;
      border-top: 1pt solid rgb(234, 234, 234);
      padding-top: 10pt;

      p {
        margin: 0pt;
        font-weight: normal;
        margin-top: 5pt;
        margin-bottom: -5pt;
        border: none;
        padding-bottom: 0pt;
      }
    }

    label {
      margin-left: 5pt;
      font-size: 12pt;
      color: $text-color !important;
      opacity: 0.95;
      font-weight: normal;

      p {
        font-size: 10pt;
        padding-bottom: 5pt;
      }
    }

    p {
      margin: 0pt;
      padding: 0pt;
      font-size: 12pt;
      margin-left: 17pt;
      color: $text-color;
      padding-bottom: 15pt;
      border-bottom: 1pt solid rgb(234, 234, 234);
    }

    input {
      position: relative;
      top: -2pt;
    }
  }

  h1 {
    font-size: 14pt;
    font-weight: bold;
    margin: 0pt;
    padding: 0pt;
    margin-top: -12.5pt;
  }

  label {
    font-size: 12pt;
    margin-top: 0pt;
    margin-bottom: 5pt;
    opacity: 0.5;
    font-weight: 500;
    display: inline;
  }
}

label {
  display: block;
  margin-bottom: 5pt;
  opacity: 0.5;
  font-weight: 500;
  font-size: 10pt;
}

.entity-list .actions {
  white-space: nowrap;
  margin-top: 20pt;

  button:not(:first-of-type) {
    margin-left: 5pt;
  }
}

button.tool {
  background: none;
  color: $text-color;
  opacity: 0.8;
  margin: 0pt;
  padding: 5pt 10pt;

  &.danger {
    color: #ed707b;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  input {
    background-color: #ebebeb;
    display: block;
    padding: 5pt;
    font-size: 24pt;
    border-radius: 5pt;
    border: none;
    margin-bottom: 5pt;
  }

  a.button {
    margin-bottom: 10pt;
    line-height: 35pt;
  }

  p {
    margin: 0pt;
    margin-top: 5pt;
    padding: 0pt;
    font-size: 14pt;

    &:last-of-type {
      margin-bottom: 20pt;
    }
  }

  h1 {
    text-align: left;
    margin-bottom: 0pt !important;
    padding-bottom: 0pt;
  }

  input.link {
    background-color: #ebebeb;
    display: block;
    padding: 5pt;
    font-size: 16pt;
    border-radius: 5pt;
    border: none;
    color: $text-color;
    margin-bottom: 5pt;

    &:disabled {
      background-color: #f1f1f1;
      color: #a0a0a0;
    }
  }

  label {
    font-size: 16pt;
    opacity: 0.5;
    margin-top: 1lvh;
    margin-bottom: 5pt;
  }

  span.description {
    font-size: 12pt;
    opacity: 0.5;
    margin-bottom: 15pt;
  }

  > button {
    margin-bottom: 15pt;
  }

  input[type="file"] {
    opacity: 0;
    height: 100pt;
  }

  .error {
    color: #ed707b;
    font-size: 18pt;
    border-left: 2pt solid #ed707b;
    padding-left: 10pt;
    display: block;
    margin-bottom: 15pt;
    margin-top: 0pt;
  }
}

button.danger {
  background-color: #ed707b;

  &:hover {
    background-color: #e64c5e;
  }

  &:active {
    background-color: #d63a4a;
  }
}

.file-upload-mask {
  height: 0pt;
  margin-top: 15px;

  .overlay {
    background-color: #ebebeb;
    padding: 10pt;
    height: 90pt;
    color: grey;
    border-radius: 5pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span.selected {
      color: $text-color;

      svg {
        position: relative;
        top: 7pt;
        transform: scale(1.5);
        margin-right: 5pt;
        opacity: 0.9;
      }
    }

    svg {
      margin-bottom: 5pt;
    }

    em {
      color: grey;
      text-decoration: underline;
    }
  }
}

a.item {
  text-decoration: none !important;
  color: $text-color !important;
}

div.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;

  h3 {
    font-size: 14pt;
    margin-bottom: 10pt;
    opacity: 0.5;
  }

  p {
    font-size: 16pt;
    margin: 2pt;
    opacity: 0.5;
  }
}

.entity-list .empty {
  min-height: auto;
  height: 10pt;
  padding: 0pt;
}

.metadata-items {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1pt solid #e1e4e890;
  padding-bottom: 5pt;
  padding-top: 10pt;

  .metadata {
    display: flex;
    flex-direction: row;
    font-size: 12pt;
    margin-right: 10pt;

    label {
      margin-right: 5pt;
      font-size: 12pt;
    }
  }
}

.query-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10pt;
  margin-left: -5pt;
  margin-right: -5pt;

  .query {
    width: 100pt;
    min-height: 40pt;
    background-color: white;
    margin: 5pt;
    border-radius: 10pt;
    padding: 10pt;
    transition: background-color 0.1s;
    border: 1pt solid $border-color;

    > a {
      text-decoration: none;
      color: $text-color;
    }

    button {
      margin-top: -50pt;
      width: 30pt;
      padding: 0pt;
      text-align: center;
      height: auto;
      float: right;
      display: flexbox;
      justify-content: center;

      * {
        padding: 0pt;
        margin: 0pt;
      }
    }

    .name {
      font-weight: 700;
    }

    .count {
      float: right;
    }

    .icon {
      min-height: 30pt;
    }

    &:hover {
      cursor: pointer;
      background-color: #d1d1d157;
    }

    &.active {
      background-color: #efeeff;
      box-shadow: 0pt 0pt 1pt 0pt $color-primary;

      .name {
        font-weight: 1000;
        text-decoration: underline;
        font-family: NeueMontreal;
      }
    }
  }
}

div.panel.explorer {
  header {
    height: 30pt;

    h1 {
      font-size: 12pt;
      line-height: 20pt;
    }
  }

  header.toolbar {
    height: 40pt;

    button.inline {
      height: 30pt;
    }
  }
}

div.panel {
  > h2 {
    font-size: 12pt;
    margin-top: 10pt;
    font-weight: bold;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  header.toolbar {
    position: absolute;
    // positions the panel toolbar right below the site header
    // (different when .with-tabs is also set)
    top: 40pt;
    right: 0pt;
    left: 0pt;
    z-index: 1;
    background: transparent;
    background-color: transparent;
    width: calc(100vw - 0pt);

    h1 {
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-left: 10pt;
      padding-right: 10pt;
      font-size: 12pt;
    }
  }
}

.shortcut {
  padding: 4pt;
  border-radius: 20pt;
  padding-top: 3pt;
  padding-bottom: 5pt;
  background-color: rgba(0, 0, 0, 0.118);
  opacity: 0.8;
  font-weight: 300;
  position: relative;
  top: -0.5pt;
  display: inline-block;
  transform: scale(0.9);
  margin-left: 2pt;
  margin-right: -6pt;
  margin-bottom: -1pt;

  svg {
    width: 0.7em;
    height: 0.7em;
    position: relative;
    top: -2pt;
    margin-left: 4pt;
  }
}

button.primary .shortcut {
  background-color: rgba(255, 255, 255, 0.118);
}

.trace-explorer {
  width: 200pt;
  height: 100vh;
  background-color: red;
}

.panel .sidebyside {
  display: flex;
  flex-direction: row;

  .sidebar {
    border: $border-color 1pt solid;
    border-radius: 5pt;
    margin: 2pt;
    margin-left: 0pt;
    margin-top: 40pt;
    width: 300pt;
    min-width: 300pt;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    transition: margin-left 0.2s;
    // 122pt leaves space for the topbar and tabs
    height: calc(100vh - 122pt);

    ul {
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0pt;
      height: 500pt;
      margin: 0pt;
      flex: 1;
      max-height: 100%;

      display: block;

      li {
        border-radius: 0pt;
        border-bottom: 1pt solid $border-color;
        margin: 0pt;
        padding: 0pt 2pt;
        border-left: 2pt solid transparent;

        & > * {
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
          overflow-y: hidden;
        }

        &.level-0 {
          margin-left: 0pt;
        }

        &.level-1 {
          margin-left: 10pt;
          width: calc(100% - 10pt - 2pt);
          border-left: 1pt solid $border-color;
        }

        a {
          display: block;
          text-decoration: none;
          color: $text-color;
          width: 100%;
          height: 20pt;
          padding: 4pt;

          .badge {
            margin-left: 5pt;
          }
        }
      }

      li.trace-hierarchy {
        cursor: pointer;
        background-color: #f1f1f1;
        color: $text-color;
        opacity: 0.9;

        svg {
          margin-right: 5pt;
        }

        &:hover {
          background-color: #dbdbdb;
        }
      }

      li.hidden {
        display: none;
      }

      li.spacer {
        margin-top: 10pt;
        border-top: 1pt solid $border-color;
      }

      li.trace {
        &:hover {
          background-color: #f1f1f13f;
        }

        a {
          display: flex;
          flex-direction: row;
          padding-right: 5pt;
        }

        .name {
          font-size: 12pt;
          line-height: 20pt;
        }

        .params {
          opacity: 0.5;
        }

        .warnings {
          color: #afafaf;
          font-size: 9pt;
          margin-left: 10pt;
          margin-right: 6pt;
          line-height: 20pt;
        }

        .test-result {
          height: 19pt;
          width: 19pt;
          line-height: 18pt;
          font-size: 15pt;
          text-align: center;
          border-radius: 2.5pt;
          color: white;

          &.pass {
            background-color: #1e883e;
          }

          &.fail {
            background-color: #ba2929;
          }
        }

        .name {
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .path {
          color: lightgray;
        }
      }

      li.seperator:first-of-type {
        margin-top: 0pt;
      }

      li.seperator-severity-0 {
        background-color: color.adjust($color-primary, $lightness: 27.5%);
      }

      li.seperator-severity-1 {
        background-color: color.adjust($color-primary, $lightness: 25%);
      }

      li.seperator-severity-2 {
        background-color: color.adjust($color-primary, $lightness: 22.5%);
      }

      li.seperator-severity-3 {
        background-color: color.adjust($color-primary, $lightness: 20%);
      }

      li.seperator-severity-4 {
        background-color: color.adjust($color-primary, $lightness: 17.5%);
      }

      li.seperator-severity-5 {
        background-color: color.adjust($color-primary, $lightness: 15%);
      }

      li.seperator {
        color: white; //$color-button-primary;
        box-shadow: 0pt 0pt 1pt 0pt $color-primary;
        border-radius: 3pt;
        border-bottom: none;
        padding: 5pt;
        position: sticky;
        top: 0;
        margin-top: 20pt;
        z-index: 3;

        .details {
          margin: 10pt 5pt;
          padding: 0;
        }

        h1 {
          font-size: 14pt;
          line-height: 18pt;
        }

        h2 {
          font-size: 10pt;
          line-height: 10pt;
        }

        span.icon {
          position: absolute;
          top: 10%;
          right: 0;
          margin: 10pt;
          background-color: white;
          min-width: 20pt;
          min-height: 20pt;
          color: $color-button-primary;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10pt;

          * {
            flex: 1;
          }
        }
      }

      li.empty {
        padding: 10pt;
        font-size: 12pt;
        opacity: 0.5;
        background: none;
        text-align: center !important;
        border: none;
        margin: auto;
      }

      li.active {
        background-color: #f1f1f1;
        border-left: 2pt solid $color-primary;
      }

      // scrollbards
      &::-webkit-scrollbar {
        background-color: black;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10pt;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
    }

    button.toggle {
      width: 35pt;
      background: none;
      color: $text-color;
      border-radius: 4pt;
      margin: 0pt;
      padding: 0pt;
      text-align: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
    }

    header {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding-top: 2pt;
      position: relative;
      border-bottom: 1pt solid $border-color;
      flex-wrap: wrap;
      height: auto;

      .header-short {
        flex: 0 1 10%;

        &.toggle {
          text-align: center;
          margin-right: 5pt;

          svg {
            margin: auto;
          }
        }
      }

      .header-long {
        flex: 1 1 50%;
        height: 25pt;
        font-size: 10pt;
        line-height: 20pt;
        font-weight: 500;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 10pt;

        .dataset-metadata {
          opacity: 0.4;
        }

        button.clear-filters {
          line-height: 24.67px;
          padding: 0px;
          height: 30px;
          color: black;
          background: none;
          font-size: 10pt;

          svg {
            margin-right: 4pt;
            position: relative;
            top: 1pt;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .img-button {
        padding: 0;
      }

      h1 {
        font-size: 12pt;
        font-weight: bold;
        color: $text-color;
        opacity: 0.8;
        margin: 0pt;
        padding: 0pt;
        margin-left: 10pt;
        margin-right: auto;
        line-height: 40pt;
      }
    }

    &.collapsed {
      // left: -213pt;
      margin-left: -265pt;

      .dataset-metadata {
        opacity: 0 !important;
      }

      ul {
        opacity: 0;
      }
    }
  }

  .explorer {
    // .explorer is the content without topbar and tabs
    margin-top: 40pt;
    // 120pt leaves space for the topbar and tabs
    height: calc(100vh - 81pt);
  }
}

.with-tabs {
  .explorer {
    // 120pt leaves space for the topbar and tabs
    height: calc(100vh - 120pt) !important;
  }
}

.traceid {
  opacity: 0.5;
  margin-top: 5pt;
  margin-bottom: 5pt;
  font-family: monospace;
}

button.share {
  width: auto;
  height: 40pt !important;
  margin-left: auto;
}

.app.new {
  margin-top: 5pt;

  header {
    border-bottom: none;
  }

  .traceview {
    height: calc(100vh - 55pt);
    padding: 0pt;
    padding-top: 2pt;
    border-radius: 6pt;
    background: transparent;
    overflow: hidden;

    h2 {
      width: calc(100% - 5pt);
    }

    .sidebyside {
      max-height: 100%;
    }
  }
}

.signup {
  background-color: white;
  padding: 20pt !important;
  border: 1pt solid #e1e4e8;
  width: 400pt;
  margin: auto;
  border-radius: 5pt;

  p > a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .signup-actions {
    position: static;
    height: 40pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    a.button {
      line-height: 35pt;
    }

    button {
      margin-left: 5pt;
    }
  }
}

.thumbs-up-icon,
.thumbs-down-icon {
  font-style: italic;
  svg {
    position: relative;
    bottom: -1.5pt;
    margin-right: 2pt;
  }
}

.thumbs::before {
  content: "";
  width: 20pt;
  height: 31pt;
  background-color: transparent;
  position: absolute;
  left: 50pt;
  top: 0pt;
}

// adjust thumbs position for json table lines
.json .thumbs::before {
  width: 240pt;
  background-color: transparent;
  left: 50qb;
}

.json .thumbs {
  left: -233pt;
}

.traceview span.line .selectable:hover .thumbs {
  display: inline-block;
  opacity: 0.5;
}

.thumbs {
  position: absolute;
  top: 8pt;
  left: -55pt;
  display: inline-block;
  border: 1pt solid $border-color;
  border-radius: 3pt;
  padding: 3pt;
  background-color: white;
  z-index: 999;
  transform: scale(0.8) translateY(-50%);
  transform-origin: top left;
  opacity: 0;

  &.visible {
    display: inline-block;
    opacity: 0.5;
  }

  &:hover {
    opacity: 1 !important;
  }

  svg {
    margin: 2pt;
    padding: 3pt;
    padding-bottom: 5pt;
    margin-bottom: -2.5pt;
    color: rgba(0, 0, 0, 0.481);
    transform: scale(1.2);
    transform-origin: center;
  }

  svg.up {
    color: black;
  }

  svg.down {
    color: black;
  }

  svg:hover {
    color: rgba(0, 0, 0, 0.882);
    cursor: pointer;
  }

  svg.toggled {
    background-color: #decfee;
    border-radius: 3pt;
  }

  svg.toggled.up {
    background-color: var(--color-thumbs-up-highlight);
  }

  svg.up:hover {
    background-color: var(--color-thumbs-up-highlight);
    border-radius: 3pt;
  }

  svg.down:hover {
    background-color: var(--color-thumbs-down-highlight);
    border-radius: 3pt;
  }

  svg.toggled.down {
    background-color: var(--color-thumbs-down-highlight);
  }
}

// hide thumbs when alt is pressed (so we can select text underneath)
.explorer .traces.alt .thumbs {
  display: none !important;
}

.traceview span.line .selectable {
  display: block;
  position: relative;
}

.traceview span.line:hover {
  background-color: #ededed;
}

.traceview span.line.expanded {
  background-color: transparent;
}

.traceview span.line.highlighted .selectable {
  background-color: rgba(88, 85, 246, 0.1);
}

.traceview span.line {
  &.thumbs-down {
    .selectable {
      background-color: var(--color-thumbs-down-highlight) !important;
    }
  }

  &.thumbs-up {
    .selectable {
      background-color: var(--color-thumbs-up-highlight) !important;
    }
  }
}

.traceview span.line.hovered-up {
  background-color: #ffffff !important;

  .selectable {
    background-color: var(--color-thumbs-up-highlight) !important;
  }
}

.traceview span.line.hovered-down {
  background-color: #ffffff !important;

  .selectable {
    background-color: var(--color-thumbs-down-highlight) !important;
  }
}

.swap-on-hover {
  span:nth-of-type(1) {
    display: inline;
  }

  span:nth-of-type(2) {
    display: none;
  }

  &:hover {
    span:nth-of-type(1) {
      display: none;
    }

    span:nth-of-type(2) {
      display: inline;
    }
  }
}

span.time {
  opacity: 0.3;
}

header.toolbar h1 .time {
  transform: scale(0.8);
  display: inline-block;
  margin-left: 4pt;
  transform-origin: left center;
}

header.top .sidebar {
  .sidebar-content .entity-list {
    span.description {
      margin-left: 4pt;
    }

    ul {
      box-shadow: none !important;
    }

    li {
      height: 15pt;
      padding: 0pt;
      margin-left: 20pt;

      &:hover {
        text-decoration: underline;
        background-color: white !important;
      }

      h3 {
        font-size: 10pt !important;
        margin: 0pt;
      }
    }
  }
}

.secondary {
  color: #a0a0a0;
}

.help-banner {
  background-color: grey;
  padding: 20pt;
  border-radius: 10pt;
  color: white;
  background: linear-gradient(23deg, $color-primary, $color-button-blue);
}

.box {
  flex: 1;
  background-color: white;
  border-radius: 5pt;
  margin: 10pt;
  padding: 10pt;
  border: 1pt solid $border-color;
  max-width: 100%;

  &.split-view {
    max-width: 50%;
    overflow: hidden;
  }

  h2 {
    font-size: 12pt;
    font-weight: bold;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 20pt;
    margin-right: -7pt;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    button {
      font-size: 10pt;
      height: 25pt;
      padding: 4pt;
      border-radius: 4pt;
      margin-top: -2pt;
    }

    input {
      margin-right: 10pt;
    }
  }

  ul {
    padding: 0pt;
    margin: 0pt;
    list-style-type: none;

    li {
      height: 10pt;
      padding: 5pt 0pt !important;
      margin: 0pt;
      line-height: 20pt;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      h3 {
        padding: 0pt;
        margin: 0pt;
      }

      &:hover h3 {
        text-decoration: underline;
      }
    }
  }

  &.full {
    width: calc(100% - 40pt);
    margin: 0pt;
    margin-bottom: 10pt;
    padding: 10pt 20pt;
  }

  &.setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 12pt;
      font-weight: bold;
      padding: 0pt;
      margin: 0pt;
      line-height: 20pt;
      margin-bottom: 5pt;
    }

    div:first-child {
      flex: 1;
      white-space: pre-wrap;
      margin-right: 10pt;
    }

    &.import-more {
      h3 {
        padding-top: 5pt;
        padding-bottom: 10pt;
      }
    }
  }
}

table.data {
  width: 100%;
  font-size: 12pt;

  thead {
    opacity: 0.4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10pt;
  }

  td > svg {
    position: relative;
    top: 1pt;
    margin-right: 4pt;
  }

  td {
    white-space: nowrap;
  }

  td.actions {
    text-align: right;

    button {
      font-size: 10pt;
      height: 30pt;
      line-height: 5pt;
      margin: 10pt 0pt;
      border-radius: 4pt;
    }
  }

  .empty {
    margin: 50pt;
  }
}

table.api-keys {
  tr {
    height: 30pt;

    .actions {
      padding: 0pt;

      button {
        height: 20pt;
        line-height: 0pt;
      }
    }
  }

  tr.expired {
    text-decoration: line-through;
    opacity: 0.5;

    .actions {
      opacity: 0;
    }
  }
}

.search {
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  font-size: 0;
  /* whitespace remover */
  margin: 5pt;
  margin-top: 4pt;
  margin-left: 0pt;
  overflow: hidden;
  border: 1pt solid #ccc;
  border-radius: 5pt;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;

  & > * {
    display: inline-block;
    background-color: white;
    color: black;
    border: 0px;
    height: 30pt;
    border-radius: 0;
    position: relative;
  }

  .search-select-dropdown {
    position: absolute;
    top: 30pt;
    left: 5px;
    width: calc(100% - 10px);
    border: 2pt solid #ccc;
    height: auto;
    z-index: 1;
    display: none;

    ul {
      flex: 1;

      li {
        font-size: 10pt;
        height: 20px;
      }
    }
  }

  .search-select-dropdown-show {
    display: flex;
    flex-direction: column;
  }

  .search-text {
    flex: 0 1 80%;
    padding: 0;
    padding-left: 4pt;
    margin: 0;
    outline: none;
  }

  .search-text.fancy:not(:focus) {
    text-align: center;
    background-color: var(--color-secondary-background);
    text-overflow: ellipsis;
    color: rgb(87, 87, 87);
  }

  .search-text:disabled::placeholder {
    opacity: 0.5;
  }

  .search-submit,
  .search-select {
    flex: 1;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;

    .spinner {
      margin-left: 12pt;
      margin-right: 4pt;
      opacity: 0.6;
    }
  }

  .search-select:active,
  .search-select:hover,
  .search-submit:active,
  .search-submit:hover {
    background-color: white;
  }
}

/* Tab styles for the Dataset page. */
.dataset-tab-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.dataset-tab-group button {
  padding: 10px 30px;
  font-size: 13pt;
  font-weight: bold;
  border: 1pt solid rgba(0, 0, 0, 0.1);
  border-radius: 8pt;
  cursor: pointer;
  transition: background-color 0.1s;
  color: inherit;
  background-color: white;
}

.dataset-tab-group button:hover {
  background-color: #d1d1d157;
}

.dataset-tab-group button.active {
  background-color: #d1d1d157;
}

.deployment-info {
  background-color: $color-primary;
  color: white;
  line-height: 17pt;
  transform: scale(0.95);
  font-size: 8pt;
  border-radius: 10pt;
  padding: 1pt 6pt;
  font-weight: 800;
  position: relative;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  top: 1pt;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    background-color: color.adjust($color-primary, $lightness: 10%);
  }

  &:active {
    background-color: color.adjust($color-primary, $lightness: -10%);
  }

  svg {
    position: relative;
    top: 1pt;
    margin-right: 1pt;
  }
}

.dataset-view {
  display: flex;
  flex-direction: column;
  padding-bottom: 0pt;

  .panel {
    flex: 1;
  }

  .tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
    background: #f6f6f6;
    justify-content: flex-start;
    // fixed height tab bar
    height: 34pt;
  }

  .tab {
    border: none;
    background: transparent;
    padding: 2pt 4pt;
    cursor: pointer;
    font-size: 11pt;
    outline: none;
    border-bottom: 2px solid transparent;
    color: black;
    transition: all 0.1s;
    border-radius: 0pt;
    // no line brea
    white-space: nowrap;
  }

  .tab:hover {
    .inner {
      background: #efefef;
    }
  }

  .tab.active {
    border-bottom: 2px solid blue;
    font-weight: bold;

    .inner {
      background: white;
    }
  }

  .tab .inner {
    background: transparent;
    padding: 4pt 10pt;
    margin-top: 0pt;
    border-radius: 5pt;
  }

  .metadata-policies {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }

  .metadata-summary {
    margin-top: 60px !important;
    width: 90%;
    margin: auto;
  }

  .policies-header {
    font-size: 24px;
    margin-bottom: 10pt;
  }

  .new-policy-button {
    margin-top: -10pt;
    float: right;
  }

  .policies-list {
    height: 1000px;
    overflow-y: auto;
  }

  .no-policies {
    margin-top: 30pt;
    text-align: center;
  }

  .policy-label {
    margin-bottom: 0pt !important;
  }

  .policy-delete {
    margin-right: 10pt;
  }

  .settings-actions {
    width: 90%;
    margin: auto;
    margin-top: 80px;
  }

  header.toolbar {
    height: 40pt;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

.deployment-info {
  background-color: $color-primary;
  color: white;
  line-height: 17pt;
  transform: scale(0.95);
  font-size: 8pt;
  border-radius: 10pt;
  padding: 1pt 6pt;
  font-weight: 800;
  position: relative;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  top: 1pt;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    background-color: color.adjust($color-primary, $lightness: 10%);
  }

  &:active {
    background-color: color.adjust($color-primary, $lightness: -10%);
  }

  svg {
    position: relative;
    top: 1pt;
    margin-right: 1pt;
  }
}

// shown when an empty dataset is opened
.empty.instructions,
.traceview div.empty.instructions {
  height: auto;
  color: $text-color;
  opacity: 1;
  display: flex;
  flex-direction: column;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  margin-top: 20pt !important;
  padding: 20pt;
  max-width: calc(100vw - 80pt);
  width: 420pt;
  text-align: center;
  align-items: center;
  margin: auto;

  &.wide {
    width: calc(min(800pt, 100vw - 80pt));
  }

  .error {
    color: #ed707b;
    border-left: 2pt solid #ed707b;
    padding-left: 3pt;
  }

  h2 {
    font-size: 14pt;
    color: $text-color;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif !important;
    text-align: center;
    border-bottom: none;
    margin-bottom: 0pt;

    .badge {
      margin-left: 15pt;
      background-color: $color-primary;
      color: white;
      user-select: none;
      -webkit-user-select: none;
      cursor: default;
    }

    svg {
      position: relative;
      top: 1.5pt;
      margin-right: 5pt;
    }
  }

  h3 {
    font-size: 12pt;
    color: rgb(59, 59, 59);
    font-weight: normal;
    display: block;
    margin: 0pt;
    margin-top: 10pt;

    i {
      font-size: inherit;
      opacity: 0.9;
    }
  }

  > p {
    margin: 0pt 0pt;
    font-size: 14pt;
    padding: 0pt;
  }

  .push-api-option {
    margin-top: 8pt;
  }
}

.user-icon {
  width: var(--size);
  height: var(--size);
  border-radius: 4pt;
  z-index: 2;
  transform: scale(0.8);
  background-color: #5855ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: NeueMontreal;
  font-size: calc(var(--size) / 2.5);
  font-weight: bold;
  text-transform: uppercase;
}

.consent-banner {
  background: #fff;
  padding: 0px;
  position: fixed;
  border: 1px solid #ccc;
  bottom: 10pt;
  right: 10pt;
  max-width: 100vw;
  width: 250pt;
  border-radius: 5pt;
  z-index: 1000;
  padding-left: 0pt;
  padding-right: 0pt;
  font-size: 12pt;

  &.agreed {
    background: none;
    border: none;
  }

  button.icon {
    width: 36pt;
    opacity: 0.2;

    &:hover {
      opacity: 0.5;
    }

    svg {
      position: relative;
      left: -5pt;
    }
  }

  em a {
    text-decoration: none;
    color: $color-primary;
  }

  p {
    padding: 0pt 10pt;
    margin-top: 10pt;
  }

  pre.highlight:hover {
    background-color: #dddddd;
    cursor: pointer;
  }

  ul {
    li {
      margin: 0pt;
      margin-left: -15pt;
    }
  }

  pre {
    white-space: pre-wrap;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 10pt;
    background-color: #f1f1f1;

    padding: 5pt 10pt;
  }

  button {
    display: block;
    width: 100%;
    margin-top: 15pt;
    margin-left: auto;
    max-width: 300pt;
  }
}

p.footer-links {
  font-size: 10pt;
  white-space: pre-wrap;
}

#button-tooltip {
  z-index: 9999999;
}

.markdown {
  h1 {
    font-size: 18pt;
  }
  h2 {
    font-size: 16pt;
  }
  h3 {
    font-size: 14pt;
  }
}

*[data-anchor-highlight] {
  border-color: #3d3aff31;
  transition: background-color 0.1s;
  background-color: transparent;

  // style of the flashing permalinked items
  &[data-anchor-flash] {
    background-color: #3d3aff1b !important;
    box-shadow: 0pt 0pt 0pt 2pt #3d3aff31;
  }

  // style of the flashing parent elements when revealing a permalinked item
  &[data-anchor-parent-flash] {
    border: 1pt solid #3d3aff31 !important;
  }
}

.permalink {
  font-size: 10pt;
  color: #3e3aff;
  margin-right: 5pt;

  &:hover {
    text-decoration: underline;
  }
}

.highlights-navigator {
  display: flex;
  border: 1pt solid $border-color;
  border-radius: 7.5pt;
  line-height: 30pt;
  margin: 4pt;
  margin-right: 6pt;
  height: 28pt;
  overflow: hidden;
  background-color: white;

  user-select: none;
  -webkit-user-select: none;
  button {
    border: none;
    padding: 0pt;
    margin: 0pt;
    height: auto;
    background: none;
    border-radius: 0pt;
    color: $text-color;
    padding: 0pt 5pt;
    cursor: pointer;
    border-left: 1pt solid $border-color;

    &:disabled {
      opacity: 0.2;
    }

    &:hover {
      background-color: #d5d5d5;
    }

    svg {
      margin-left: 2pt;
      margin-right: 2pt;
    }
  }

  .content {
    white-space: nowrap;
    padding: 0pt 10pt;
    line-height: 30pt;
    font-size: 10pt;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .content:active {
    background-color: #e1e1e1;
  }
}

.home-banner {
  background: linear-gradient(92deg, #434da6 7.93%, #10135c 94.43%);
  color: white;
  padding: 10pt 20pt;
  border-radius: 5pt;
  margin: 0 10pt 10pt 10pt;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap if space is limited */
  justify-content: space-between;
  align-items: center;
  gap: 10pt; /* Add spacing between items when wrapping */
}

.home-banner-content {
  max-width: 70%;
  margin-top: 5pt;
  flex: 1 1 auto; /* Allow content to resize based on available space */
}

.home-banner-content h2 {
  margin: 0;
  font-size: 18pt;
  font-weight: bold;
}

.home-banner-content p {
  margin: 0 0 10pt;
  font-size: 12pt;
}

.home-banner-buttons {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to stack if space is limited */
  gap: 10pt;
  justify-content: flex-end; /* Align buttons to the end of their container */
}

.home-banner-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 20pt;
  font-size: 10pt;
  cursor: pointer;
  transition:
    background-color 0.5s,
    color 0.5s;
  line-height: normal;
  height: 35px;
  padding: 5pt 15pt;
}

.home-banner-button:hover {
  background-color: #6c79f7;
  color: white;
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
  .home-banner {
    flex-direction: column; /* Stack content and buttons vertically */
    text-align: center;
    padding: 15pt; /* Add more padding for better spacing */
  }

  .home-banner-content {
    max-width: 100%;
    margin-bottom: 15pt; /* Add spacing between content and buttons */
  }

  .home-banner-buttons {
    justify-content: center; /* Center buttons on small screens */
  }

  .home-banner-button {
    width: 100%; /* Buttons take full width */
    max-width: none; /* Remove max-width restriction */
  }
}

/* Additional Breakpoint for Extra Small Screens */
@media (max-width: 480px) {
  .home-banner {
    padding: 10pt; /* Reduce padding for smaller devices */
  }

  .home-banner-content h2 {
    font-size: 16pt; /* Adjust font size for smaller screens */
  }

  .home-banner-content p {
    font-size: 10pt; /* Adjust font size for smaller screens */
  }

  .home-banner-button {
    font-size: 9pt; /* Smaller font size for buttons */
    padding: 5pt 10pt; /* Reduce padding to fit smaller screens */
  }
}

.featured-dataset-list {
  display: flex;
  flex-direction: column;
}

.featured-dataset-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  gap: 20px;
  border-top: 1px solid #ddd;
}

.featured-dataset-item:first-child {
  margin-top: 5px;
}

.featured-dataset-item h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.featured-dataset-item h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.featured-dataset-description {
  font-size: 0.9rem;
  color: #666;
  margin-left: auto;
  text-align: left;
  flex-shrink: 0;
  width: 40%;
}

.featured-dataset-empty {
  color: #999;
  font-size: 1rem;
  text-align: center;
  margin: 20px 0;
}

.featured-dataset-info {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
}

.create-dataset-form {
  width: 600px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 0px;
    margin-bottom: 0px !important;
  }

  input {
    background-color: #ebebeb;
    display: block;
    padding: 5pt;
    font-size: 14px;
    border-radius: 5pt;
    border: none;
    margin-bottom: 5pt;
  }

  label {
    font-size: 14pt;
    opacity: 1;
    margin-top: 1lvh;
    margin-bottom: 5pt;
  }

  > button {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  input[type="file"] {
    opacity: 0;
    height: 100pt;
  }

  .error {
    color: #ed707b;
    font-size: 14px;
    border-left: 2pt solid #ed707b;
    padding-left: 10pt;
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .options-container {
    display: flex;
    align-items: center;

    .radio-label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .option-description-link {
      margin-top: 21px;
      margin-left: 5px;
    }
  }

  .option-name {
    font-size: 14px;
    display: block;
  }

  .option-description {
    font-size: 12px;
    display: block;
  }

  .option-dataset-type {
    margin-left: 8px;
  }

  .icon {
    margin-right: 8px;
    margin-left: 8px;
  }
}

.deployment-commit {
  font-family: monospace;
  font-size: 9pt;
  margin-left: 2pt;
  color: #666;
  opacity: 0.5;
}

// when we have tabs like in the trace view (e.g. traces|metadata|settings)
// we make space for it and position the header toolbar lower
.with-tabs div.panel header.toolbar {
  top: 75pt;
}

.filter-container {
  position: relative;
  display: inline-block;
  margin-top: -1px;

  .filter-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .filter-button {
    height: 39.5px;
    display: inline-flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    color: #24292f;
    cursor: pointer;
    margin-left: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  .filter-button:hover {
    background-color: #eaecef;
  }

  .dropdown-icon {
    margin-left: 4px;
  }

  .filter-options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    margin-top: 4px;
    padding: 8px 0;
    background-color: #ffffff;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    width: 230px;
  }

  .filter-dropdown[open] .filter-options {
    display: block;
  }

  .filter-option {
    display: block;
    width: 100%;
    padding: 8px 16px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    color: #24292f;
  }

  .selected-filter-option {
    background-color: #f6f8fa;
  }

  .filter-option:hover {
    background-color: #f6f8fa;
  }

  > details > div > button {
    border-radius: 0px;
  }
}

span.highlight-dot {
  display: inline-block;
  width: 5pt;
  height: 5pt;
  transform: scale(0.7);
  border-radius: 50%;
  background-color: #3d3aff;
  position: relative;
  top: -0.5em;

  &.red {
    background-color: #ff3d3d;
  }
}

.tab-content,
.insights {
  margin-top: 20pt !important;
  margin: auto;
  border-radius: 5pt;
  padding: 10pt;
  margin-bottom: 20pt;

  h3 {
    margin: 0pt;
  }

  .tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 10pt;
    margin-top: 10pt;

    .tile {
      background-color: white;
      width: auto;
      flex: 1;
      border-radius: 5pt;
      border: 1pt solid #e1e4e8;
      min-width: 300pt;
      padding: 5pt;
      max-width: 500pt;

      pre {
        overflow: auto;
        white-space: pre-wrap;
        font-size: 10pt;
        width: calc(100% - 20pt);
        height: calc(100% - 50pt);
        background-color: #f1f1f1;
        margin: 5pt;
        border-radius: 5pt;
        padding: 5pt;
        // hide scrollbar

        &::-webkit-scrollbar {
          display: none;
        }
      }

      h1 {
        font-size: 12pt;
        font-weight: bold;
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;

        display: flex;
        flex-direction: row;
        line-height: 20pt;
        margin-right: -7pt;
        margin-bottom: 10pt;
        margin-top: 5pt;
        margin-left: 5pt;
      }

      ul {
        margin: 0pt;
      }

      ul li {
        padding: 5pt;
        margin: 2pt;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2pt;
        margin-bottom: 4pt;
        height: auto;

        font-size: 12pt;

        .description {
          margin: 0pt;
          padding: 0pt;
          margin-left: 5pt;
        }

        &:last-child {
          border-bottom: none;
        }

        .status {
          opacity: 0.5;
          font-size: 10pt;
        }

        .actions {
          display: flex;
          gap: 5pt;
        }
      }
    }

    .tile.scroll {
      h1 {
        position: sticky;
        top: 5pt;
      }

      overflow-y: auto;
      overflow-x: hidden;
      max-height: 400pt;
    }

    table.metadata {
      width: 100%;

      // table, td should vertically align to the top
      th {
        vertical-align: top;
        text-align: right;
        min-width: 120pt;
        padding-right: 10pt;
        opacity: 0.8;
      }

      pre {
        margin-top: -3pt;
        overflow: auto;
      }
    }
  }
}

.traceid.status {
  font-size: 10pt;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin-left: 0pt;
  display: inline-block;
}
