$color-primary: #8b89f7;
$color-button: #aeadbf;
$color-button-primary: #3a3e60;
$color-button-blue: #948fe4;
$color-green: #4aec9b;
$color-bg: #1e1e1e;

$text-color: #2e2e2e;
$text-color-highlight: #131124;
$border-color: rgb(218, 217, 217);
$highlighted-background: rgba(0, 0, 0, 0.05);

$color-button-primary: #3a3e60;

$color-secondary-background: rgb(246, 246, 246);
$color-invariant: #3e3aff;
