@use "./Colors.scss" as *;

.options-tabs {
  display: flex;
  flex-direction: row;
  margin: 5pt;
  padding: 0pt;
  width: 100%;
  flex-wrap: wrap;

  .tab {
    border-radius: 5pt;
    padding: 1pt 7pt;
    margin-right: 3pt;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      background-color: $color-button-primary;
      border: 0pt solid $color-primary;
      color: white;
    }
  }
}

.upload-banner-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 6pt;
  padding-right: 5pt;
  margin-top: 5pt;
  margin-bottom: 10pt;
  justify-content: center;

  label {
    margin-top: 7pt;
    margin-bottom: 2pt;
  }

  input {
    width: calc(100% - 12.5pt);
    flex: 1;
    display: block;
    border-radius: 5pt;
    border: 1pt solid $border-color;
    padding: 10pt 5pt;
    font-size: 10pt;
  }
}

.traceview .empty.instructions {
  h3 {
    margin-top: -2pt !important;
  }
}

.box.full.setting .options {
  margin-left: -5pt;
  margin-right: -15pt;

  input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 120pt;
  }

  .options-tabs {
    margin-top: 5pt;

    .tab {
      flex: 0;
      margin-left: 0pt;
      margin-right: 4pt;
    }
  }

  .jsonl-upload {
    display: block;
    padding-left: 15pt;

    button {
      width: calc(100% - 10pt);
    }
  }
}

.empty .options {
  border: 1pt solid $border-color;
  padding: 0pt;
  flex-direction: column;
  background-color: $color-secondary-background;
  border-radius: 4pt;
  margin-top: 20pt !important;
  width: 100%;

  display: flex;
  margin: 0pt;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;

  .options-content {
    border-radius: 5pt;
    height: auto;
    width: 100%;
    text-align: left;

    button:not(.copy) {
      margin-top: 20pt !important;
      display: block;
      margin: auto;
    }

    h2 {
      border: none;
      font-weight: bold;
      text-align: left;
      font-size: 14pt;
    }

    p {
      color: $text-color;
      opacity: 0.9;
      font-size: 12pt;
    }
  }

  input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100pt;
  }

  button {
    width: 70%;
  }
}

.options.wide {
  max-width: auto;
  width: 100% !important;
}

.code-with-copy {
  position: relative;
  background-color: white;
  margin: 5pt;
  border-radius: 5pt;
  border: 1pt solid $border-color;
  padding: 10pt;
  min-height: 120pt;
  display: block;

  .rendered-tokens {
    overflow-x: auto;
  }

  // best monospace
  font-family: monospace;

  button.copy {
    position: absolute;
    right: -5pt;
    border-radius: 3pt;
    top: 0pt;
    margin-top: 0pt !important;
    width: 40pt;
    height: 40pt;
    transform: scale(0.8);
    background: none;
    opacity: 0.4;
    text-overflow: hidden;
    overflow: hidden;
    border: 0pt;

    &:hover {
      background-color: rgb(234, 234, 234);
      opacity: 0.8;
    }

    &.copied {
      background-color: rgb(234, 234, 234);
      opacity: 1;
    }

    svg {
      width: 15pt;
      height: 15pt;
    }
  }
}

.jsonl-upload {
  margin: 5pt;
  background-color: white;
  padding: 5pt;
  border-radius: 5pt;
  border: 1pt solid $border-color;
  padding-bottom: 15pt;
}

.rendered-tokens {
  white-space: pre;
}

.options-content {
  .description {
    padding-left: 7.5pt;
    padding-right: 7.5pt;
    font-style: italic;
    opacity: 0.8;
    font-size: 10pt;
  }
}

.file-upload-mask {
  background-color: red;
  opacity: 1 !important;
}

.options.simulated-agent {
  text-align: center;
  max-width: calc(100% - 20pt);
  margin: auto;
  margin-top: 10pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20pt;
  padding-left: 20pt;
  padding-right: 20pt;
  text-align: left;
  white-space: nowrap;

  font-size: 10pt;
  padding: 10pt;

  div {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  button {
    width: 170pt;
    font-size: 12pt;
  }
}

.or-separator {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10pt auto;
  margin-bottom: -10pt;

  .line {
    height: 1pt;
    background-color: $border-color !important;
    display: block;
    width: 30%;
    margin-top: 0.2em;
    margin-left: 10pt;
    margin-right: 10pt;
  }
}
