fastapi
uvicorn
sqlalchemy[postgresql]
alembic
openai
pyyaml
python-jose
passlib[bcrypt]
python-multipart
fastapi-keycloak-middleware
prometheus-fastapi-instrumentator
lark
modal
git+https://github.com/invariantlabs-ai/invariant.git