@use "../../styles/Colors.scss" as *;

.panel-horizontal {
  min-width: 200px;
  height: calc(100vh - 73pt);
}

.output-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.output-header {
  padding: 5px 10px;
  border-bottom: 1px solid #e2e8f0;
  zsize: 16px;
}

.output-time {
  color: #6b7280;
  font-size: 14px;
  margin-left: 8px;
}

.output-content {
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: white;
  overflow: auto;
  flex-grow: 1;
}

svg.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.output-text {
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.fullscreen > .playground {
  height: calc(100vh - 42pt);
}

.embed > .playground {
  height: 100% !important;
}

.playground {
  width: 100%;
  overflow: hidden;
  height: 100%;
  max-height: auto;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif !important;

  h2.traceview-header {
    margin-left: 0pt;
    padding-top: 2pt;

    .tab-group {
      margin-left: -5pt;
    }
  }

  > h2 {
    margin-left: 5pt;
    flex-direction: row;
    font-size: 12pt;
    width: 100%;
    display: flex;
    padding: 0pt;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1pt solid $border-color;

    &.header-minimal {
      flex-direction: row;
      padding-bottom: 4pt;
      justify-content: flex-end;

      button {
        height: 20pt;
        font-size: 10pt;
        line-height: 10pt;
        padding: 4pt 2pt;
        margin-left: 4pt;
        border-radius: 4pt;
        margin-top: 0pt;
        margin-bottom: -3pt;

        background: none;
        border: none;
        font-weight: normal;
        width: auto;

        &:last-of-type {
          padding-right: 5pt;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .playground-button:last-of-type {
        margin-right: 12px;
      }
    }

    &.header-full {
      padding: 0pt 8pt;
      height: 35pt;
      overflow: visible;

      .playground-title {
        font-weight: bold;
        margin-left: -10pt;
        position: relative;

        button.inline.triggered {
          background-color: rgb(232, 232, 232);
        }

        .popover {
          width: 60vw;
          max-width: 700pt;
          height: calc(max(400pt, 60vh));
          background-color: white;
          position: absolute;
          top: 45pt;
          right: 0pt;
          z-index: 9999;
          box-shadow: 0 0 10pt rgba(0, 0, 0, 0.1);
          border-radius: 4pt;
          border: 1pt solid $border-color;
          transform: translateY(50pt) translateX(calc(100% - 130pt));
          transition:
            transform 0.1s ease-in-out,
            opacity 0.1s ease-in-out;
          opacity: 0;
          display: flex;
          flex-direction: column;

          &.is-open {
            transform: translateX(calc(100% - 130pt));
            opacity: 1;
          }

          header {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 10pt;

            h1 {
              font-size: 12pt;
              margin: 0pt;
              padding: 0pt;
              line-height: 20pt;
              font-weight: bold;
            }

            p {
              font-size: 10pt;
              font-weight: normal;
              margin: 0pt;
              padding: 0pt;
              color: $text-color;
            }
          }

          ul {
            margin: 0pt;
            padding: 0pt;
            margin: 0pt 5pt;
            margin-right: 0pt;
            overflow-y: auto;
            flex: 1;

            li {
              padding: 2pt 5pt;
              list-style: none;
              border-radius: 5pt;
              margin-bottom: 5pt;
              line-height: 1em;
              transition: background-color 0.05s ease-in-out;

              &:hover {
                background-color: rgb(238, 238, 238);
                cursor: pointer;
              }

              &.header {
                background: none;
                opacity: 0.7;
                font-weight: bold;
                margin-bottom: -5pt;
              }

              b {
                margin-top: 5pt;
                display: block;
                font-weight: normal;
              }

              p {
                font-weight: normal;
                margin-top: 7pt;
                margin-bottom: 7pt;
                opacity: 0.5;
              }
            }
          }

          .close {
            position: absolute;
            top: 15pt;
            right: 5pt;
            margin: 0pt;
            background: none;
            font-size: 10pt;
            color: $text-color;

            &:hover {
              cursor: pointer;
              opacity: 0.5;
            }
          }
        }

        button {
          display: inline;
          margin-left: 10pt;
          height: 30pt;
          border-radius: 4pt;

          svg {
            margin-left: 10pt;
          }
        }
      }

      button {
        height: 30pt;
      }

      button:last-of-type {
        margin-right: 24px;
      }
    }

    .playground-title {
      margin-right: auto;
      /* Pushes all buttons to the right */
      padding: 10pt;
    }

    .playground-button {
      margin-left: 8px;
    }
  }

  .playground-container {
    flex-grow: 1;
    width: 100%;
  }

  .traceview {
    width: 100%;
    padding-top: 0pt;
    border-top: none;
    background-color: rgb(246, 246, 246);
    border-left: none;
    max-height: 100%;

    .traces {
      padding: 0 5pt;

      .messages {
        width: 100%;
      }
    }
  }
}

.policy-violation {
  border: 1px solid #e2e8f0;
  border-radius: 4pt;
  padding: 8pt;
  margin: 8pt;
  display: flex;
  flex-direction: column;

  .text {
    padding: 8pt;
  }

  .policy-violation-buttons {
    position: absolute;
    right: 8pt;
    display: flex;

    button {
      height: 24pt;
      width: 24pt;
      border: 1px solid #e2e8f0;
      margin: 0;
      padding: 0;
      justify-content: right;

      &:first-child {
        border-top-right-radius: 0pt;
        border-bottom-right-radius: 0pt;
        border-top-left-radius: 12pt;
        border-bottom-left-radius: 12pt;
        border-right: none;
      }

      &:last-child {
        border-top-right-radius: 12pt;
        border-bottom-right-radius: 12pt;
        border-top-left-radius: 0pt;
        border-bottom-left-radius: 0pt;
        border-left: none;
        margin-right: 8pt;
      }
    }
  }
}

.control-indicator {
  text-align: right;
  margin-right: 8pt;

  span {
    margin-right: 8pt;
  }

  .controls {
    display: inline-block;

    button {
      height: 24pt;
      width: 24pt;
      border: 1px solid #e2e8f0;
      margin: 0;
      padding: 0;
      justify-content: right;

      &:first-child {
        border-top-right-radius: 0pt;
        border-bottom-right-radius: 0pt;
        border-top-left-radius: 12pt;
        border-bottom-left-radius: 12pt;
        border-right: none;
      }

      &:last-child {
        border-top-right-radius: 12pt;
        border-bottom-right-radius: 12pt;
        border-top-left-radius: 0pt;
        border-bottom-left-radius: 0pt;
        border-left: none;
        margin-right: 8pt;
      }
    }
  }
}

.analysis-result {
  margin: 10pt 0pt;
  margin-top: 0pt;
  padding: 10pt;
  position: relative;
  min-height: 50pt;
  border-bottom: 1pt solid #e2e8f0;
  margin-bottom: 0pt;

  a.link {
    font-weight: normal;
    margin-left: 10pt;
    text-decoration: underline;
    font-size: 10pt;
    line-height: 12pt;

    &:hover {
      text-decoration: underline;
      opacity: 0.5;
      cursor: pointer;
    }
  }

  .no-result {
    background-color: rgb(233, 233, 233);
    margin-top: 30pt;
    border-radius: 4pt;
    padding: 10pt;
    text-align: center;
    margin-bottom: 5pt;
    width: calc(100% - 30pt);

    &.is-loading:hover {
      background-color: rgb(233, 233, 233);
    }

    &:hover {
      background-color: rgb(212, 212, 212);
      cursor: pointer;
    }
  }

  .error {
    display: inline-block;
    color: rgb(146, 39, 39);
    font-size: 10pt;
    font-weight: normal;
    margin-left: 5pt;
    white-space: pre-wrap;
  }

  h3 {
    font-size: 12pt;
    font-weight: bold;
    position: absolute;
    top: 10pt;
    left: 10pt;
    margin: 0pt;
  }

  .event {
    margin: 10pt 5pt;
    max-width: auto !important;
    margin-left: auto;
    margin-right: auto;

    .content {
      margin: auto;
    }
  }
}
