.panel {
  //min-height: 200px;
}

.panel-horizontal {
  min-width: 200px;
}

.output-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.output-header {
  padding: 5px 10px;
  border-bottom: 1px solid #e2e8f0;
  font-size: 16px;
}

.output-time {
  color: #6b7280;
  font-size: 14px;
  margin-left: 8px;
}

.output-content {
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: white;
  overflow: auto;
  flex-grow: 1;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.output-text {
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.fullscreen > .playground {
  height: calc(100vh - 40pt - 78px);
}

.embed > .playground {
  height: 100% !important;
}

.playground {
  width: 100%;
    h2 {
        margin-left: 5pt;
        flex-direction: row;
        font-size: 12pt;
        width: 100%;
        display: flex;
        padding: 0pt;
        align-items: center;
        justify-content: space-between;

        &.header-minimal {
          flex-direction: row;
          padding-bottom: 4pt;
          justify-content: flex-end;
          
          button {
            height: 16pt;
            font-size: 10pt;
            line-height: 10pt;
            padding: 4pt 8pt;
            margin-left: 4pt;
          }

          .playground-button:last-of-type {
              margin-right: 12px;
          }
          
        }
        
        &.header-full {
          padding: 4pt 8pt;
          .playground-button:last-of-type {
              margin-right: 34px;
          }

        }

        .playground-title {
          margin-right: auto; /* Pushes all buttons to the right */
          padding: 10pt;
        }

        .playground-button {
            margin-left: 8px;
        }

    }

    .playground-container {
      flex-grow: 1;
      width: 100%;
    }

    .traceview {
      .content, .tab, .traces.tab
      {
        //position: relative; 
        //height: fit-content;
      }

        .traces {
            padding: 0 5pt;
            .messages {
                width: 100%;
            }
        }

    }
}

.policy-violation {
  border: 1px solid #e2e8f0;
  border-radius: 4pt;
  padding: 8pt;
  margin: 8pt;
  display: flex;
  flex-direction: column;
  
  h2 {}
  
  .text {
    padding: 8pt;
  }
  
  .policy-violation-buttons {
    position: absolute;
    right: 8pt;
    display: flex;
    
    button {
      height: 24pt;
      width: 24pt;
      border: 1px solid #e2e8f0;
      //background: white;
      margin: 0;
      padding: 0;
      justify-content: right;
      
      &:first-child {
        border-top-right-radius: 0pt;
        border-bottom-right-radius: 0pt;
        border-top-left-radius: 12pt;
        border-bottom-left-radius: 12pt;
        border-right: none;
      }
      
      &:last-child {
        border-top-right-radius: 12pt;
        border-bottom-right-radius: 12pt;
        border-top-left-radius: 0pt;
        border-bottom-left-radius: 0pt;
        border-left: none;
        margin-right: 8pt;
      }
    }
    
  }
}

.controls {
  display: inline-block;

  button {
      height: 24pt;
      width: 24pt;
      border: 1px solid #e2e8f0;
      margin: 0;
      padding: 0;
      justify-content: right;
      
      &:first-child {
        border-top-right-radius: 0pt;
        border-bottom-right-radius: 0pt;
        border-top-left-radius: 12pt;
        border-bottom-left-radius: 12pt;
        border-right: none;
      }
      
      &:last-child {
        border-top-right-radius: 12pt;
        border-bottom-right-radius: 12pt;
        border-top-left-radius: 0pt;
        border-bottom-left-radius: 0pt;
        border-left: none;
        margin-right: 8pt;
      }
   
  }
}