body {
    --color-primary-bg: white;
    --color-secondary-header: rgb(90, 90, 90);
    --color-secondary-bg: rgb(237, 237, 237);
    --color-border: rgb(235, 235, 235);
    --color-active-border: rgb(167, 167, 167);
    --color-primary-text: black;
    --color-active-text: rgb(21, 21, 166);
    --color-code-bg: white;

    --color-primary-accent: rgb(212, 231, 251);
    --color-primary-accent-hover: rgb(212, 231, 251);

    --color-primary-border: rgb(193, 193, 193);
    --color-primary-active-border: rgb(177, 177, 177);

    --color-purple: rgb(250, 206, 250);
    --color-active-purple: rgb(220, 170, 227);

    --color-green: rgb(160, 193, 160);
    --color-active-green: rgb(56, 158, 56);
}

body.dark {
    --color-primary-bg: rgb(37, 37, 37);
    --color-primary-dark-bg: rgb(32, 32, 32);
    --color-secondary-header: rgb(167, 167, 167);
    --color-secondary-bg: rgb(27, 27, 27);
    --color-border: rgb(47, 47, 47);
    --color-active-border: rgb(86, 85, 85);
    --color-primary-text: white;
    --color-active-text: rgb(117, 117, 117);
    --color-code-bg: rgb(30, 30, 30);

    --color-primary-accent: rgb(212, 231, 251);
    --color-primary-accent-hover: rgb(212, 231, 251);

    --color-primary-border: rgb(106, 106, 106);
    --color-primary-active-border: rgb(191, 191, 191);

    --color-purple: rgb(173, 87, 173);
    --color-active-purple: rgb(233, 160, 243);

    --color-green: rgb(203, 242, 203);
    --color-active-green: rgb(91, 182, 91);

    background-color: var(--color-secondary-bg);
}

div[data-panel] {
    background-color: var(--color-primary-bg);
    border-radius: 2pt;
    position: relative;
    display: flex;
    flex-direction: column;
}


div[data-panel]>header {
    /* background-color: var(--color-primary-dark-bg); */
    padding: 5pt;
    height: 25pt;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
    border-bottom: 1pt solid var(--color-border);
}

.spacer {
    flex: 1;
}

div[data-panel]>header button,
div[data-panel]>header select,
button.action {
    font-weight: 600;
    line-height: 20pt;
    background-color: transparent;
    color: var(--color-primary-text);
    cursor: pointer;
    line-height: 25pt;
    margin-left: auto;
    display: inline-block;
    padding: 0pt 0pt;
    font-size: 10pt;
    padding: 0pt 2pt;
    letter-spacing: 0.1em;
    border: 1pt solid transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    letter-spacing: -0.01em;
}

div[data-panel]>header button:last-child {
    margin-right: 2pt;
}

div[data-panel]>header button[disabled] {
    opacity: 0.5;
}

div[data-panel]>header button:hover:not(:disabled),
button.action:hover,
button.action.active {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4pt;
}

body.dark div[data-panel]>header button:hover:not(:disabled),
body.dark button.action:hover,
body.dark button.action.active {
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4pt;
}

div[data-panel]>header button:active:not(:disabled),
button.action:active {
    opacity: 0.5;
}

/* not last */
div[data-panel]>header button:not(:last-child) {
    margin-right: 8pt;
}

div[data-panel]>header h2 {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    font-weight: 800;
    color: var(--color-secondary-header);
    font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20pt;
}

div[data-resize-handle] {
    border: 0.5pt solid var(--color-border);
}

div[data-resize-handle-state='hover'] {
    border: 0.5pt solid var(--color-active-border);
}

.chat {
    overflow-y: scroll;
    flex: 1;
    font-size: 14pt;
}

.chat a,
.chat a:visited,
.chat a:active {
    color: var(--color-active-text);
}

.message-history {
    overflow-y: scroll;
    max-height: 100%;
    width: 100%;
    padding-bottom: 100pt;
}

.message-history>button.link.center {
    text-align: center !important;
    display: block;
    margin: 10pt auto;
}

.chat .message button.regenerate {
    position: absolute;
    top: 0pt;
    line-height: 25pt;
    right: 25pt;
}

.message-history textarea {
    border: none;
    background-color: var(--color-primary-bg);
    color: var(--color-primary-text);
    padding: 5pt;
    border-radius: 5pt;
    width: calc(100% - 30pt);
    height: 100pt;
    outline: none;
    resize: none;
    font-size: 14pt;
    padding: 10pt 0pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.running .message button.regenerate {
    display: none;
}

.chat {
    --max-width: 700pt;
}

main.standalone .chat .message {
    font-size: 12pt;
}

.chat .message {
    padding: 20pt;
    padding-left: 40pt;
    font-size: 14pt;
    position: relative;

    max-width: var(--max-width);
    margin: 0 auto;
}

.chat .process {
    max-width: var(--max-width);
    width: calc(100% - 0pt);
    margin: 0 auto;
}

.chat .message .avatar {
    position: absolute;
    left: 12pt;
    top: 17pt;
    width: 20pt;
    height: 20pt;
    border-radius: 50%;
    background-color: rgb(52, 52, 193);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    line-height: 20pt;
    color: white;
}

.chat .message.user .avatar {
    background-color: rgb(193, 52, 52);
}

.chat .message.policy .avatar {
    background-color: var(--color-purple);
}

.chat .message.policy.collapsed {
    opacity: 0.5;
}

.chat .message.policy.collapsed .role {
    font-weight: normal;
}

.chat .message.policy .role {
    cursor: pointer;
}

.chat .message.policy.collapsed:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.054);
}

.chat .message.policy.collapsed .avatar {
    display: none;
}

.chat .message.user {
    white-space: pre-wrap;
}

.chat .message.error {
    font-size: 0.8em;
    text-align: center;
    padding-right: 40pt;
    margin-top: -10pt;
}

.chat .message.policy {
    color: var(--color-primary-text);
    background-color: var(--color-code-bg);
    border-radius: 2pt;
}

.chat .message.policy .scroll-decoration {
    display: none;
}

.chat .message.policy pre {
    padding: 0pt;
    margin: 0;
    font-size: 0.8em;
}

.chat .message.policy .text {
    margin-top: 10pt;
    margin-left: -8pt;
}

.chat .message.assistant {
    background-color: rgba(0, 0, 0, 0.012);
    border-radius: 2pt;
}

.chat .message .role {
    font-weight: bold;
}

.chat .message .text {
    margin-top: 5pt;
}

.chat .message .text textarea {
    padding: 10pt;
}

.message-input {
    display: flex;
    flex-direction: row !important;
    flex: 1;
    padding-bottom: 2pt;

    max-width: var(--max-width);
    width: calc(100% - 5pt);
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.message-input .templates {
    position: absolute;
    top: 0pt;
    transform: translateY(calc(-100%));
    width: calc(100% + 4pt);
    left: -3pt;
    display: flex;
    flex-direction: row;
}

.templates .template {
    max-width: 200pt;
    padding: 10pt;
    margin: 10pt;
    margin-bottom: 5pt;
    border-radius: 2pt;
    border: 1pt solid var(--color-border);
}

.templates .template:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.templates .template h1 {
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

.templates .template h2 {
    font-size: 14pt;
    margin: 0;
    padding: 0;
    font-weight: normal;
    opacity: 0.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-input textarea {
    flex: 1;
    padding: 15pt;
    border: none;
    background-color: var(--color-primary-bg);
    color: var(--color-primary-text);
    outline: none;
    font-size: 14pt;
    font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    resize: none;
    border: 1.5pt solid var(--color-border);
    margin: 5pt;
    border-radius: 5pt;
    padding-right: 40pt;
}

.message-input textarea:focus {
    border: 1.5pt solid var(--color-active-text);
}

.message-input textarea:disabled {
    opacity: 0.5;
}

.message-input button {
    background-color: transparent;
    transition: all 0.05s;
    color: var(--color-primary-text);
    position: absolute;
    right: 18pt;
    top: 5pt;
    border: 0.5pt solid transparent;
    height: 30pt;
    font-size: 10pt;
    font-weight: 500;
    max-height: 80%;
    border-radius: 3pt;
    background-color: rgb(244, 244, 244);
    color: rgb(50, 50, 50);
    border: 0.5pt solid var(--color-border);
    padding: 0pt 8pt;
}

.message-input button:not(:disabled) {
    cursor: pointer;
}

.message-input button:not(:disabled):not(.link):hover {
    border-color: rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    border: 1pt solid var(--color-active-text);
}

.message-input button:active {
    opacity: 1;
    border: 1pt solid var(--color-active-text);
}

.message-input button:disabled {
    background-color: transparent;
    color: var(--color-primary-text);
    opacity: 0.8;
}

.step {
    border: 1pt solid var(--color-primary-border);
    padding: 8pt;
    border-radius: 4pt;
    margin: 10pt 0pt;
    position: relative;
    margin-bottom: 20pt;
}

.process .connector {
    text-align: center;
    opacity: 0.8;
    margin-bottom: 5pt;
    margin-top: -10pt;
}

.process .step.active,
.process .step.active:hover {
    border: 1pt solid var(--color-primary-active-border);
    background-color: rgba(0, 0, 0, 0.19);
}

body.dark .step.active,
body.dark .step.active:hover {
    background-color: rgba(255, 255, 255, 0.079);
}

.process .step.loading {
    opacity: 0.8;
    position: relative;
    border-bottom-width: 1pt;
}

.process:not(.linear) .step.loading .lds-ellipsis {
    display: inline-block;
    height: 15pt;
    position: absolute;
    right: -25pt;
    top: 4pt;
}

.process .step.loading .content,
.process .step.loading h1,
.process .step.loading h2 {
    display: inline-block;
}

/* extra bar at bottom */
.process .step.loading::after {
    content: '';
    position: absolute;
    bottom: -1pt;
    border-radius: 20pt;
    left: 0;
    width: 10%;
    height: 2pt;
    background-color: var(--color-primary-text);
    z-index: 2;
    animation: loading 10s ease-in forwards;
}

@keyframes loading {
    0% {
        width: 10%;
    }

    20% {
        width: 30%;
    }

    50% {
        width: 70%;
    }

    100% {
        width: 90%;
    }
}

.message-history.process .step {
    margin: 0pt 40pt;
}

.process .step span.right {
    position: absolute;
    right: 15pt;
    line-height: 25pt;
    top: 9pt;
}

.process .step span.right button.detail svg {
    width: 15pt;
    height: 15pt;
}

.process .step span.right {
    margin-right: -8pt;
}

.process .step span.right button.detail {
    margin: 0;
    padding: 6pt;
    position: relative;
    margin-left: 5pt;
    top: -2pt;
    border: 1pt solid var(--color-primary-border);
    border-radius: 2pt;
    background: none;
    color: var(--color-primary-text);
    opacity: 0.8;
    cursor: pointer;
}

.process .step span.right button.detail:hover {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1.0;
}

.process .step span.right button.detail.active {
    background-color: rgba(0, 0, 0, 0.079);
    opacity: 1.0;
    border-color: var(--color-primary-active-border);
}

.process .step pre {
    padding: 20pt 5pt;
    border-radius: 2pt;
    overflow-x: scroll;
    font-size: 12pt;
    background-color: var(--color-secondary-bg);
}

.process .step.purple {
    background-color: rgba(158, 29, 158, 0.037);
    border-color: var(--color-purple);
}

.process .step.purple.active {
    background-color: rgba(158, 29, 158, 0.137);
    border-color: var(--color-active-purple);
}


.process .step.purple:hover {
    background-color: rgba(158, 29, 158, 0.11);
}

.process .step.green {
    background-color: rgba(29, 158, 29, 0.037);
    border-color: var(--color-green);
}

.process .step.execution,
.process .step.execution:hover {
    background-color: #1e883e;
    border-color: rgb(48, 164, 83);
    cursor: default;
    color: white;
    padding-left: 35pt;
}

.process .step.execution h2 {
    font-family: monospace;
}

.process .step.execution .right {
    position: absolute;
    top: 12.5pt;
    right: auto;
    left: 10pt;
}

.process .step.green.active {
    background-color: rgba(45, 192, 89, 0.137);
    border-color: var(--color-active-green);
}


.process .step.green:hover {
    background-color: rgba(14, 58, 14, 0.317);
}

.process .step:hover {
    background-color: var(--color-secondary-bg);
    cursor: pointer;
}

.process .step.loading:hover {
    background: transparent;
}

.process .step h1,
h2 {
    font-size: 12pt;
    margin: 0;
}

.process .step h2 {
    font-weight: 400;
    margin-top: 2pt;
}

ul.files {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

ul.files li {
    padding: 5pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 2pt;
    margin: 2pt;
    font-size: 12pt;
}

ul.files li svg {
    padding-right: 5pt;
}

/* hover */
ul.files li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2pt;
}

/* active */
ul.files li.active {
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

/* appear */
div.graph {
    animation: appear 0.25s ease-in-out;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.root-group {
    flex: 1;
    max-height: calc(100vh - 40pt);
    overflow-y: hidden;
}

.root-group.chat.collapsed .collapsible {
    opacity: 0.0;
    max-width: 40pt;
    transition: opacity 0.5s;
}

.root-group.chat:not(.collapsed) .collapsible {
    opacity: 1.0;
    transition: opacity 0.5s;
}

button.link {
    border: none;
    background-color: transparent;
    color: var(--color-active-text);
    font-size: 0.8em;
}

button.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

button.link:active {
    opacity: 0.8;
}

button.action {
    color: var(--color-primary-text);
    font-size: 0.8em;
    padding: 0pt 5pt;
    background-color: var(--color-primary-bg);
    border: none;
    border-radius: 4pt;
    margin-right: 5pt;
    font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.actions {
    text-align: right;
    margin-right: 17pt;
    margin-top: 2pt;
}

.step {
    margin-bottom: 15pt !important;
}

button.action.primary {
    background-color: var(--color-primary-accent);
    color: black;
    user-select: none;
}

button.action.primary:hover {
    background-color: var(--color-primary-accent-hover) !important;
}

div[data-panel]>header.tabbed {
    align-items: center;
    justify-content: center !important;
}

div[data-panel]>header .tabs {
    display: flex;
    flex-direction: row;
}

div[data-panel]>header .tabs button {
    margin-right: 5pt;
    transition: background-color 0.1s;
    padding: 4pt 10pt;    
    font-size: 12pt;
    font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: var(--color-secondary-header);
    border-radius: 5pt;
    cursor: pointer;
    height: 26pt;
    line-height: 16pt;
}

div[data-panel]>header .tabs button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5pt !important;
}

div[data-panel]>header .tabs button.active {
    background-color: var(--color-secondary-bg);
    color: var(--color-primary-text);
    opacity: 1.0 !important;
}

.tabbed-content {
    overflow: hidden;
    width: calc(100% - 5pt);
    height: calc(100% - 30pt);
    position: relative;
}

.tabbed-content .tab {
    flex: 1;
    max-width: 100%;
    position: absolute;
    top: 0pt;
    left: 0;
    right: 0;
    bottom: 40pt;
}

.tabbed-content .hidden {
    opacity: 0.0;
    z-index: -1;
    display: block;
}

.tabbed-content .active {
    opacity: 1.0;
    z-index: 1;
    display: block;
}

header.secondary {
    height: 30pt;
    padding-top: 4pt;
    padding-bottom: 4pt;
    border: none;
    z-index: 100;
    position: relative;
    background-color: var(--color-primary-bg);
}

.graph-pan-blocker {
    position: absolute;
    background-color: white;
    opacity: 0.0;
    top: 0pt;
    left: 0pt;
    width: 10pt;
    height: 100%;
    z-index: 999;
}

.graph-pan-blocker.right {
    left: auto;
    right: 0pt;
}

.execution.process {
    padding: 20pt;
    overflow-y: scroll;
    max-height: calc(100% - 5pt);
}

.execution.process span.right {
    right: 20pt;
}

.execution.process .step:hover {
    background: none;
    cursor: default;
}

.execution.process .empty {
    text-align: center;
    font-size: 1.0em;
    margin-top: 20pt;
    opacity: 0.5;
}

button.clicky:active {
    opacity: 0.5 !important;
    cursor: pointer;
}

.execution.process pre {
    white-space: pre-wrap;
    padding: 8pt;
}

button.authenticate {
    margin: 10pt 0;
    display: block;
    background-color: var(--color-primary-accent);
    border-radius: 2pt;
    border: none;
    padding: 10pt 20pt;
    font-weight: bold;
    font-size: 0.8em;
}

.small {
    font-size: 0.8em;
}

.secondary {
    color: var(--color-secondary-header);
}

.process.linear .step.active,
.process.linear .step.active:hover {
    border: 1pt solid var(--color-primary-active-border);
    background-color: rgba(0, 0, 0, 0.09);
}

body.dark .process.linear .step.active,
body.dark .process.linear .step.active:hover {
    background-color: rgba(255, 255, 255, 0.079);
}

.process.linear .step h2,
.process.linear .step .content,
.process.linear .step.loading h1 {
    display: none;
}

.process.linear .step.loading .content {
    display: inline-block;
}

.process.linear .step {
    padding: 5pt;
    border: none !important;
}

iframe {
    display: none;
}

.process.linear .step.verifier {
    display: block;
    position: relative;
    top: -41pt;
    text-align: right;
    margin-bottom: -30pt !important;
    height: 15pt;
    z-index: 0;
    width: 30%;
    margin-left: auto;
}

.process.linear .step.verifier:hover,
body.dark .process.linear .step.verifier:hover,
body.dark .process.linear .step.verifier {
    background: none;
}

.process.linear .step.verifier h1 {
    margin-right: 20pt;
    font-size: 10pt;
    display: inline-block;
    padding: 3pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 1.5pt;
}

.process.linear .step.verifier .content {
    display: block;
    position: relative;
    top: -33pt;
    right: -5pt;
    text-align: right;
}

.process.linear .connector {
    display: none;
}

.process .connector::before {
    content: '↓';
    margin: 10pt;
}

.process.lineard .connector::before {
    content: '→';
    margin: 10pt;
    position: relative;
    top: -8pt;
}

.process.linear .step.green {
    color: var(--color-green);
    background: none;
}

.process.linear .step.green.active h1 {
    background-color: rgb(159, 241, 159);
    border-radius: 2pt;
    color: black;
}

.process.linear .step.purple {
    color: var(--color-active-purple);
    background: none;
}

.process.linear .step.purple.active h1 {
    background-color: var(--color-purple);
    border-radius: 2pt;
    color: black;
}

.process.linear .step.loading {
    position: relative;
    left: -2pt;
    top: -5pt;
}

.process.linear .step.loading::after {
    display: none;
}

button.action.toggle.active {
    background-color: rgba(0, 0, 0, 0.1);
}

ul.problems {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--color-primary-bg);
    height: 100%;
    overflow-y: auto;
    user-select: none;
    -webkit-user-select: none;
}

ul.problems li {
    border: 1pt solid var(--color-border);
    border-radius: 2pt;
    padding: 10pt;
    margin: 5pt;
    text-align: left;
    background-color: var(--color-primary-bg);
    position: relative;
}

ul.problems li span.type {
    text-align: right;
    font-family: monospace;
    display: block;
    padding-top: 10pt
}

ul.problems li h1 {
    text-align: left;
    margin: 0pt;
    padding: 4pt;
    font-size: 14pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30pt;
    opacity: 0.9;
    font-weight: 600;
}

ul.problems li code {
    display: block;
    padding: 10pt;
    font-size: 10pt;
    background-color: var(--color-secondary-bg);
    margin-top: 5pt;
    white-space: pre-wrap;
}

ul.problems li.empty {
    background: none;
    text-align: center;
    font-size: 14pt;
    margin-top: 20pt;
    border: none;
    opacity: 0.4;
}

ul.problems li h1>svg {
    position: relative;
    top: 1pt;
    padding-right: 5pt;
    color: red;
}

ul.problems li.hovered {
    border: 1pt solid var(--color-purple);
}

ul.problems li button.highlight {
    position: absolute;
    top: 0pt;
    right: 5pt;
}

ul.problems li button.highlight svg {
    position: relative;
    top: 2pt;
}

button.action.minimize {
    font-size: 12pt;
    color: var(--color-secondary-header);
    font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20pt;
}

button.minimize svg {
    position: relative;
    top: 0.1em;
    padding-right: 2pt;
}

.files-panel.collapsed {
    color: red;
    max-width: 30pt;
}

.files-panel.collapsed header {
    text-align: center;
    display: block;
    align-items: center;
    border-bottom: none;
}

.files-panel:not(.collapsed) {
    min-width: 140pt;
}

.files-panel.collapsed header button {
    margin: auto;
    padding: 0pt 5pt;
}

.files-panel.collapsed .files {
    display: none;
}

.chat .message.model-editing {
    text-align: left;
    border: 2pt solid var(--color-border);
    background-color: var(--color-secondary-bg);
    width: calc(100% - 40pt);
    padding: 10pt;
    margin: 10pt auto;
    margin-bottom: 30pt;
    margin-top: 8pt;
    max-width: calc(var(--max-width) - 20pt);
    border-radius: 5pt;
    position: relative;
}

.chat .message.model-editing h3 {
    margin: 0;
    font-family: monospace;
    padding: 0;
    padding-top: 5pt;
    font-size: 0.8em;
    color: var(--color-secondary-header);
    font-weight: normal;
}

.chat .message.model-editing button.edit {
    position: absolute;
    right: 10pt;
    top: 5pt;
    height: 30pt;
    padding: 0pt 10pt;
}

.chat .message.model-editing.editing {
    border-color: var(--color-active-border);
}

.chat .message.model-editing.editing .content {
    display: block;
}

.chat .message.model-editing:not(.editing) .content {
    display: none;
}

.chat .message.model-editing.editing .content {
    margin-top: 10pt;
    border-top: 1pt solid var(--color-border);
}

.chat .message.model-editing.editing h4 {
    border-bottom: 1pt solid var(--color-border);
    padding-bottom: 0pt;
    margin: 0;
    margin-top: 10pt;
    font-size: 14pt;
    font-family: "DM Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.chat .message.model-editing .content p {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    padding-bottom: 10pt;
    display: inline-block;
    font-weight: normal;
    padding-left: 5pt;
    color: var(--color-secondary-header);
}

button.action {
    position: relative;
}

button.action svg {
    position: relative;
    top: 2pt;
}

.popover {
    position: absolute;
    padding: 10pt;
    bottom: 0;
    right: 5pt;
    width: 120pt;
    background-color: var(--color-primary-bg);
    font-size: 0.8em;
    box-shadow: 0pt 0pt 2pt rgba(0, 0, 0, 0.3);
    z-index: 900;
    transform: translateY(100%);
    border: 1pt solid var(--color-border);
    border-radius: 2pt;
}

.popover h2 {
    padding-bottom: 5pt;
    font-size: 0.9em;
}

.popover label {
    user-select: none;
}

.popover input[type="checkbox"] {
    margin-right: 5pt;
    position: relative;
    top: -2pt;
}

.popover select {
    margin-top: 5pt;
    width: 100%;
}

.process .step h1 svg {
    position: relative;
    top: 2pt;
    padding-right: 1pt;
}

.process:not(.linear) .step.verifier svg {
    position: relative;
    top: 3pt;
    right: 6pt;
    padding: 1pt;
    padding-right: 1pt;
}

.process.linear .step.verifier svg {
    position: relative;
    top: 2pt;
    padding-right: 1pt;
}

main>header button.action:last-child {
    margin-right: 20pt;
}