/* @font-face {
  font-family: 'DM Sans';
  src: url('DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
} */

body {
  margin: 0;
  padding: 0;

  --color-border: #e1e4e8;
  --color-active-border: rgb(192, 199, 206);
  --color-text: black;
  --color-highlight: hsl(247, 60%, 97%);
  --color-highlight-dark: hsl(240, 52%, 43%);
  --color-highlight-text: #474747;
  --color-secondary-background: #e9e9e9;
  --color-primary-background: white;
  --color-error-background: #f9e7e9;

  --nav-width: 40pt;
  display: flex;
}

#root {
  display: flex;
  flex-direction: row;
  padding: 0pt;
  flex: 1;
}

#root .nav-spacer {
  width: 40pt;
}

#root nav {
  margin: 0;
  padding: 5pt;
  border-right: 1pt solid var(--color-border);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 130pt;
  transition: width 0.1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--color-primary-background);
}

#root nav .bottom {
  margin-bottom: 10pt;
}

#root nav a.user {
  margin: 0pt;
  padding: 0pt;
  height: 30pt;
}

#root nav .user .label {
  position: relative;
}

#root nav .user .icon {
  background-color: var(--color-highlight);
  border-radius: 50%;
  padding: 8pt;
  width: 10pt;
  margin-left: 3pt;
  display: inline-block;
  height: 10pt;
  transform: scale(0.6);
  line-height: 12pt;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 15pt;
  font-weight: 700;
  color: var(--color-highlight-dark);
}

#root nav.expanded {
  box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.1);
}

nav .label {
  display: inline-block;
  opacity: 1.0;
  width: auto;
  transition: opacity 0.1s, width 0.1s;
}

#root nav:not(.expanded) .label {
  /* display: none; */
  opacity: 0;
  width: 0;
}

#root nav>h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  position: relative;
  left: -2pt;
}

#root nav:not(.expanded)>h1 {
  text-align: center;
}

#root nav>h1 .small, #root nav:not(.expanded)>h1 .normal {
  display: none;
}

#root nav:not(.expanded)>h1 .small, #root nav.expanded>h1 .normal {
  display: inline;
}

#root nav:not(.expanded) {
  width: 30pt;
  overflow: hidden;
}

#root nav .spacer {
  flex: 1;
  border: none;
}

#root nav hr {
  padding: 0pt;
  margin: 0pt;
  color: var(--color-border);
  border-width: 0pt;
  border-top: 1pt solid var(--color-border);
  margin: 5pt 0pt;
}

#root nav h1 {
  font-size: 1.2em;
  margin: 0pt;
  padding: 0pt;
  line-height: 30pt;
  padding-left: 5pt;
  color: var(--color-highlight-text);
  height: 40pt;
  line-height: 35pt;
}

#root nav a {
  display: block;
  padding: 4pt 10pt;
  border-radius: 4pt;
  cursor: pointer;
  opacity: 0.7;
  font-size: 0.9em;
  font-weight: 600;
  padding-bottom: 6pt;
  height: 20pt;
  overflow: hidden;
  white-space: nowrap;
}

#root nav a:hover {
  opacity: 1;
}

#root nav a.active, #root nav a.active:hover {
  background-color: var(--color-highlight);
  color: var(--color-highlight-text);
  opacity: 1;
}
#root nav a.active svg, #root nav a:hover svg {
  color: var(--color-highlight-dark);
}

#root nav a svg {
  padding-right: 7.5pt;
  opacity: 0.7;
  height: 1.4em;
  position: relative;
  top: 3pt;
  transform: scale(1.1);
}

#root nav a:hover svg, #root nav a.active svg {
  opacity: 1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10pt;
  align-items: center;
  height: 40pt;
  width: 100%;
  padding: 0pt 10pt;
  border-bottom: 1pt solid var(--color-border);
}

header h1 {
  font-weight: 700;
  font-size: 12pt;
  /* font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  padding: 0pt;
  margin: 0pt;
}


main {
  flex: 1;
  min-height: calc(100vh - 40pt);
  max-width: calc(100vw - var(--nav-width) - 30pt);
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 30pt;
}

main.standalone {
  max-width: 100%;
}
main.standalone header {
  width: 100%;
}

main.fullscreen {
  padding-right: 0pt;
}

main>.content {
  display: flex;
  min-height: calc(100vh - 40pt);
  flex-direction: column;
  padding: 20pt;
  width: 1000pt;
  margin: 0pt auto;
  max-width: calc(100% - 70pt);
}

main.fullscreen .content {
  padding: 0pt;
  margin: 0pt;
  max-height: calc(100vh - 43pt);
  min-height: calc(100vh - 43pt);
  max-width: 100%;
}

main.fullscreen {
  max-width: calc(100vw - 40pt) !important;
}

/* reduce padding on smaller screens */
@media (max-width: 900px) {
  main>.content {
    padding: 5pt;
    max-width: calc(100vw - var(--nav-width) - 40pt);
  }
}


main>.content>h1 {
  margin: 0;
  padding: 0;

  font-size: 28pt;
  margin-left: 20pt !important;
  padding-top: 15pt;
  margin-bottom: 15pt;
  font-weight: bold;
  /* font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important; */
}

main .tiles {
  display: flex;
  flex-wrap: wrap;
  padding: 0pt 10pt;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1000pt;
  max-width: 100%;
}

main .tiles .tile.data-table {
  flex-direction: column;
  padding: 0pt;
  border-radius: 5pt;
  margin: 10pt;
  margin-right: 0pt;
  margin-top: -1pt;
  overflow-x: auto;
  max-width: 100%;
}

.tile .data-table th {
  padding: 10pt;
}

.data-table tr.selectable {
  cursor: pointer;
}

.data-table tr.selectable:hover {
  color: var(--color-highlight-dark);
  font-size: 0.7em;
}

.data-table td a, .data-table td a:visited {
  color: var(--color-highlight-dark);
  opacity: 0.7;
}

.data-table td a:hover {
  opacity: 1;
}

main .tiles .tile .data-table th {
  border-top-width: 0pt;
}

main .tiles .tile .data-table th:first-child {
  border-left-width: 0pt;
}

main .tiles .tile .data-table th:last-child {
  border-right-width: 0pt;
}

main .tiles .tile .data-table th:first-child, .data-table.titled th:first-child {
  font-weight: bold;
  opacity: 1.0;
  transform: scale(1.1);
  transform-origin: left;
}

.data-table {
  border-collapse: collapse;
}

.data-table th {
  text-align: left;
  padding: 0pt 10pt;
  border: 1pt solid var(--color-border);
  opacity: 0.6;
}

.data-table th, .data-table td {
  text-align: left;
  padding: 10pt;
  font-size: 12pt;
}

.data-table.compact td {
  padding: 2pt 10pt;
}

.data-table.highlight tbody tr:hover {
  background-color: rgb(251, 251, 255);
}

.data-table.full {
  width: 100%;
  border-collapse: collapse;
  border: 1pt solid var(--color-border);
  margin-top: 20pt;
}

.data-table th {
  border: none;
  height: 10pt;
  font-size: 10pt;
  padding: 2pt 10pt;
  font-family: 'DM Sans', sans-serif;
}

.data-table thead {
  border-bottom: 1pt solid var(--color-border);
}

.data-table.minimal {
  border: none;
}

.data-table.full button {
  margin: 0;
}

.data-table input {
  margin: 0pt !important;
}

main .tiles .tile {
  border: 1pt solid var(--color-border);
  margin: 10pt;
  margin-right: 0pt;
  margin-top: 0pt;
  padding: 0pt;
  border-radius: 5pt;
  flex: 1;
  overflow-x: auto;
}

main .tile.table {
  min-width: 300pt;
}

main .tile.table table {
  min-width: 100%;
}

main .tiles .tile.filled {
  padding: 15pt;
  border: none;
  min-width: 180pt;
}

main .tiles .tile.filled.border {
  border: 1pt solid var(--color-border);
}

main .tiles .tile.filled h1 {
  font-size: 12pt;
  margin: 0;
  padding: 0pt;
  padding-bottom: 5pt;
  margin-left: 0pt;
}

main .tiles .tile.filled h1 svg {
  position: relative;
  top: 2pt;
  padding-right: 5pt;
}

main .tiles .tile.filled h2 {
  margin: 0;
  padding: 0;
  font-size: 24pt;
}

main .tiles .tile h1 {
  font-size: 16pt;
  padding: 0;
  margin: 0;
  margin-left: 0pt;
}

main .pane {
  margin: 0pt 10pt;
  padding: 10pt;
  padding-bottom: 0pt;
  border-radius: 5pt;
}

main .pane pre>code {
  background-color: var(--color-secondary-background);
  display: block;
  padding: 10pt;
  border-radius: 5pt;
}

main .pane p {
  border-bottom: 1pt solid var(--color-border);
  padding: 10pt 0pt;
}

main .pane p:first-child {
  padding-top: 0pt;
}

main .pane p h2 {
  font-size: 12pt;
}

main>.content>h1 {
  font-family: 'DM Sans', sans-serif;
}

main h1 button {
  font-size: 10pt;
  margin: 5pt;
  margin-left: 20pt;
  position: relative;
  top: -4pt;
}

input {
  padding: 10pt;
  border-radius: 4pt;
  background-color: var(--color-secondary-background);
  border: none;
  margin: 10pt 0pt;
  font-size: 1em;
}

button {
  padding: 7pt;
  border-radius: 4pt;
  /* background-color: transparent; */
  border: 1pt solid var(--color-border);
  border: none;
  background-color: var(--color-secondary-background);
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  margin: 10pt 0pt;
}

button.outline {
  background-color: transparent;
  border: 1pt solid var(--color-border);
}

/* button directly after input */
input+button {
  margin: 0pt 5pt;
}

button:hover {
  background-color: var(--color-secondary-background);
}

button:active {
  opacity: 0.8;
}

div.circle-avatar {
  display: inline-block;
  padding: 5pt;
  border-radius: 50%;
  height: 10pt;
  font-size: 10pt;
  line-height: 10pt;
  width: 10pt;
  background-color: grey;
  color: white;
  text-align: center;
  margin-right: 5pt;
  transform: scale(0.75);
  position: relative;
  top: -1pt;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20pt;
  border: 1pt solid #888;
  width: 80%;
  border-radius: 5pt;
  max-width: 600pt;
  position: relative;
}

.modal-header h2 {
  margin: 0;
}

.modal-header .close {
  color: #aaa;
  font-size: 18pt;
  position: absolute;
  right: 10pt;
  top: 0;
  background-color: transparent;
}

.modal-header .close:hover,
.modal-header .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 20pt 0pt;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer button {
  margin-right: 10pt;
}

.modal.apikey input {
  display: inline-block;
  width: calc(100% - 65pt);
  margin-right: 5pt;
  position: relative;
  top: 1pt;
}

div.error {
  background-color: var(--color-error-background);
  padding: 10pt;
  border-radius: 5pt;
  margin: 10pt 0pt;
}

button.primary {
  background-color: var(--color-highlight);
  color: var(--color-highlight-dark);
}

.modal label {
  display: block;
}

input.outline, .modal label input, .modal label select, .modal label textarea {
  width: calc(100% - 25pt);
  padding: 10pt;
  border-radius: 5pt;
  border: 1pt solid var(--color-border);
  margin: 10pt 0pt;
}

.selector {
  margin: 10pt 0pt;
  width: 100%;
}

textarea {
  border-radius: 2pt;
  outline: none;
  font-size: 1em;
  width: 100%;
  padding: 10pt;
  font-size: 1em;

  border-radius: 5pt;
  border: 1pt solid var(--color-border);
  margin: 10pt 0pt;
}

.modal label textarea:active, .modal label textarea:focus {
  border: 1pt solid var(--color-highlight-dark);
}

.modal label input {
  background-color: var(--color-primary-background);
  border-radius: 2pt;
  outline: none;
  font-size: 1em;
}

p.note {
  padding: 10pt;
  margin-top: 20pt;
  font-size: 0.9em;
  background-color: var(--color-highlight);
  border-radius: 5pt;
}

button:disabled, button.primary:disabled {
  opacity: 0.3;
}

.selector {
  font-family: monospace;
  font-weight: 700;
}

.actions button {
  margin-right: 5pt !important;
}

input.outline {
  background-color: var(--color-primary-background);
  border: 1pt solid var(--color-border);
}

input.code {
  font-family: monospace;
  font-weight: 700;
  font-size: 1em;
}

input[readonly] {
  opacity: 0.8;
}

.small {
  font-size: 0.8em;
}

span.secondary {
  opacity: 0.4;
}

main>header {
  width: calc(100vw - var(--nav-width) - 22pt);
}

main header a {
  text-decoration: none;
  color: var(--color-text);
}

main header a:hover span.secondary {
  opacity: 0.6;
}

button.icon>svg {
  position: relative;
  top: 2pt;
  padding-right: 5pt;
}

.deployments-editor .editing {
  padding: 10pt;
}

.deployments-editor .editing label {
  display: block;
}

.deployments-editor .editing label input {
  padding: 10pt;
  border-radius: 5pt;
  border: 1pt solid var(--color-border);
  margin: 10pt 0pt;
}

/* textarea */
.deployments-editor .editing textarea {
  resize: vertical;
  display: block;
  resize: none;
  max-width: auto !important;
  width: calc(100% - 20pt);
  height: 240pt;
}

h3 {
  font-family: 'DM Sans', sans-serif;
  margin: 0pt;
  padding: 0pt;
  font-size: 1.0em;
  font-weight: 600;
  color: var(--color-highlight-text);
}

.data-table thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-primary-background);
}

.traces-panel {
  overflow-y: auto !important;
  position: relative;
}

main.traces-view, main.playground-view {
  padding: 0pt;
  overflow-y: hidden;
}

#root {
  height: 100vh;
}

header .toolbar-selector {
  z-index: 20;
  font-size: 0.9em;
  margin-right: -5pt;
  margin-left: -15pt;
  transform: scale(0.87);
  transform-origin: center right;
  min-width: 120pt;
}