$scale: 1.0;
$content-width: 1000pt;
$text-color: #2E2E2E;
$footer-color: #17161E;

// colors
$color-primary: #3E3AFF;
$color-button: #AEADBF;
$color-button-primary: #3A3E60;
$color-button-blue: #948FE4;

$border-color: #aeadbf51;

$color-green: #4AEC9B;

body {
  margin: 0;
  padding: 0;
  color: $text-color;

  --color-border: #e1e4e8;
  --color-active-border: rgb(192, 199, 206);
  --color-text: black;
  --color-highlight: hsla(247, 60%, 97%, 0.685);
  --color-highlight-dark: hsl(240, 52%, 43%);
  --color-highlight-text: #474747;
  --color-secondary-background: #e9e9e9;
  --color-primary-background: white;
  --color-error-background: #f9e7e9;

  --nav-width: 40pt;
  display: flex;
}

header.top {
  display: flex;
  height: 40pt;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;

  padding: 0pt 5pt;

  img.logo {
    margin-right: 5pt;
    width: 20pt;
    height: 20pt;
  }

  h1 {
    font-size: 16pt;
    font-weight: 500;
    margin-top: 1pt;
  }

  button.inline {
    margin-right: -15pt;
    height: 32pt;
  }

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 5pt;
    padding: 0pt 5pt;
    position: relative;
    top: -1pt;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 5pt;
    height: 30pt;
    margin-top: 4pt;
    transition: background-color 0.2s;
    position: relative;

    &:hover {
      cursor: pointer;
      background-color: white;
    }

    div {
      margin-right: 5pt;
    }

    div.avatar {
      background-color: rgb(222, 222, 222);
      border-radius: 50%;
      width: 25pt;
      height: 25pt;
      display: inline-block;
      transform: scale(0.85);
      z-index: 2;
    }

    >p {
      z-index: 2;
    }

    .popover {
      position: absolute;
      top: 35pt;
      right: -5pt;
      background-color: white;
      padding: 5pt;
      display: none;
      z-index: 1000;
      z-index: 9999;
      min-width: 100pt;
      box-shadow: 0pt 0pt 4pt 0pt rgba(0, 0, 0, 0.1);

      &.active {
        display: block;
      }

      ul {
        padding: 0pt;
        margin: 0pt;
        list-style-type: none;

        li {
          padding: 5pt;
          cursor: pointer;
          // prevent line breaks
          white-space: nowrap;

          &.disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: default;
          }

          &:hover {
            background-color: var(--color-highlight);
          }

          a, a:visited {
            display: block;
            color: rgb(28, 28, 28);
            text-decoration: none;
          }
        }
      }
    }

    .arrow {
      position: absolute;
      top: -9pt;
      right: 0pt;
      width: 0;
      height: 0;
      border-left: 10pt solid transparent;
      border-right: 10pt solid transparent;
      border-bottom: 10pt solid white;
    }

    &.open {
      background-color: white;

      .popover {
        display: block;
      }
    }
  }

  div.avatar {
    background-color: grey;
    border-radius: 50%;
    width: 30pt;
    height: 30pt;
    display: inline-block;
  }
}

div.spacer {
  flex: 1;
}

div.content {
  text-align: left;
  padding: 20pt;
  padding-top: 5pt;
  max-width: 800pt;
  margin: 0 auto;
  border-radius: 5pt;
  background-color: rgb(246, 246, 246);
  margin-top: 5pt;
  min-width: 500pt;

  h1 {
    text-align: left;
  }
}

div.content.fullscreen {
  max-width: 100%;
  margin: 0pt;
  padding: 0pt 0pt;
}

div.panel {
  header {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    h1 {
      font-size: 24pt;
      line-height: 30pt;

      a {
        text-decoration: none;
        color: $text-color;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &.fullscreen {
    header {
      height: 40pt;

      h1 {
        font-size: 14pt;
      }

      button.inline {
        height: 30pt;
      }
    }
  }

  h4 {
    font-size: 14pt;
    margin-top: 10pt;
    margin-bottom: -5pt;
  }

  ul {
    margin-top: 10pt;
    padding: 0pt;

    li {
      list-style-type: none;
      margin: 0pt;
      padding: 5pt 15pt;
      margin-bottom: 5pt;
      border-radius: 5pt;
      background-color: white;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      h3 {
        margin: 0pt;
        padding: 0pt;
        font-size: 12pt !important;
        line-height: 30pt;
      }

      span.description {
        opacity: 0.7;
        margin-left: 20pt;
        line-height: 30pt;
        font-size: 10pt;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        background-color: darken(white, 1%);
      }
    }
  }
}

button {
  svg {
    position: relative;
    top: 2pt;
    margin-right: 5pt;
  }
}

.app-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    position: relative;

    h1 {
      font-size: 34pt;
      margin-bottom: 10pt;
    }

    header.window-controls {
      position: absolute;
      width: calc(100% - 40pt);
      display: flex;
      top: 10pt;
      right: 25pt;
      border-bottom: 0pt;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      button {
        background: none;
        border: none;
        padding: 0pt;
        margin: 0pt;
        cursor: pointer;
        font-size: 12pt;
        color: $text-color;
        opacity: 0.5;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 1;
        }

        &:first-child {
          margin-right: 10pt;
        }
      }
    }
    
    font-size: 16pt;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 700pt;
    min-width: 300pt;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20pt;
    border-radius: 5pt;

    h1 {
      font-size: 24pt;
      margin: 0pt;
      color: $text-color;
      font-weight: 500;
    }

    h2 {
      font-size: 14pt;
      margin-top: -5pt;
      opacity: 0.8;
      margin-bottom: 10pt;
    }
  }

  footer {
    width: 100%;
    height: auto;
    background: transparent;
    min-height: 40pt;
    justify-content: flex-end;
  }
}

label {
  display: block;
  margin-bottom: 5pt;
  opacity: 0.5;
  font-weight: 500;
  font-size: 10pt;
}

.entity-list .actions {
  button:not(:first-of-type) {
    margin-left: 5pt;
  }

  button.tool {
    background: none;
    color: $text-color;
    opacity: 0.8;
    margin: 0pt;
    padding: 5pt 10pt;

    &.danger {
      color: #ED707B;
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  input {
    background-color: #ebebeb;
    display: block;
    padding: 5pt;
    font-size: 24pt;
    border-radius: 5pt;
    border: none;
    margin-bottom: 5pt;
  }

  input.link {
    background-color: #ebebeb;
    display: block;
    padding: 5pt;
    font-size: 16pt;
    border-radius: 5pt;
    border: none;
    color: $text-color;
    margin-bottom: 5pt;

    &:disabled {
      background-color: #f1f1f1;
      color: #a0a0a0;
    }
  }

  label {
    font-size: 16pt;
    opacity: 0.5;
    margin-top: 1lvh;
    margin-bottom: 5pt;
  }

  span.description {
    font-size: 12pt;
    opacity: 0.5;
    margin-bottom: 15pt;
  }

  >button {
    margin-bottom: 15pt;
  }

  input[type=file] {
    opacity: 0.0;
    height: 100pt;
  }

  .error {
    color: #ED707B;
    font-size: 18pt;
    border-left: 2pt solid #ED707B;
    padding-left: 10pt;
    display: block;
    margin-bottom: 15pt;
    margin-top: 0pt;
  }
}

button.danger {
  background-color: #ED707B;

  &:hover {
    background-color: #E64C5E;
  }

  &:active {
    background-color: #D63A4A;
  }
}

.file-upload-mask {
  height: 0pt;

  .overlay {
    background-color: #ebebeb;
    padding: 10pt;
    height: 90pt;
    color: grey;
    border-radius: 5pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span.selected {
      color: $text-color;

      svg {
        position: relative;
        top: 7pt;
        transform: scale(1.5);
        margin-right: 5pt;
        opacity: 0.9;
      }
    }

    svg {
      margin-bottom: 5pt;
    }

    em {
      color: grey;
      text-decoration: underline;
    }
  }
}

a.item {
  text-decoration: none !important;
  color: $text-color !important;
}

div.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;

  h3 {
    font-size: 14pt;
    margin-bottom: 10pt;
    opacity: 0.5;
  }

  p {
    font-size: 16pt;
    opacity: 0.5;
  }
}

.metadata-items {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1pt solid #e1e4e890;
  padding-bottom: 5pt;
  padding-top: 10pt;

  .metadata {
    display: flex;
    flex-direction: row;
    font-size: 12pt;
    margin-right: 10pt;
  
    label {
      margin-right: 5pt;
      font-size: 12pt;
    }
  }
}

.bucket-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10pt;
  margin-left: -5pt;
  margin-right: -5pt;

  >a {
    text-decoration: none;
    color: $text-color;
  }

  .bucket {
    width: 100pt;
    min-height: 40pt;
    background-color: white;
    margin: 5pt;
    border-radius: 10pt;
    padding: 10pt;
    transition: background-color 0.1s;

    .name {
      font-weight: 700;
    }

    .count {
      float: right;
    }
    
    .icon {
      min-height: 30pt;
    }

    &:hover {
      cursor: pointer;
      background-color: #d1d1d157;
    }

    &.active {
      background-color: #efeeff;
      box-shadow: 0pt 0pt 1pt 0pt $color-primary;

      .name {
        font-weight: 1000;
        text-decoration: underline;
        font-family: NeueMontreal;
      }
    }
  }
}

div.panel.explorer {
  header {
    height: 30pt;

    h1 {
      font-size: 12pt;
      line-height: 20pt;
    }
  }

  header.toolbar {
    height: 40pt;

    button.inline {
      height: 30pt;
    }
  }
}

div.panel {
  header.toolbar {
    position: absolute;
    top: 41pt;
    right: 0pt;
    z-index: 1;
    background: transparent;
    background-color: transparent;
    width: calc(100vw - 0pt);
    
    h1 {
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-left: 10pt;
    }
  }
}

.shortcut {
  svg {
    width: 0.7em;
    height: 0.7em;
    position: relative;
    top: -2pt;
    margin-left: 4pt;
  }

  padding: 4pt;
  border-radius: 20pt;
  padding-top: 3pt;
  padding-bottom: 5pt;
  background-color: rgba(0, 0, 0, 0.118);
  opacity: 0.8;
  font-weight: 300;
  position: relative;
  top: -0.5pt;
  display: inline-block;
  transform: scale(0.9);
  margin-left: 2pt;
  margin-right: -6pt;
  margin-bottom: -1pt;
}

button.primary .shortcut {
  background-color: rgba(255, 255, 255, 0.118);
}

.trace-explorer {
  width: 200pt;
  height: 100vh;
  background-color: red;
}

.panel .sidebyside {
  display: flex;
  flex-direction: row;

  .sidebar {
    border: $border-color 1pt solid;
    margin: 2pt;
    margin-left: 10pt;
    margin-top: 56pt;
    border-radius: 5pt;
    width: 250pt;
    
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    transition: margin-left 0.2s;
    height: calc(100vh - 120pt);
    
    ul {
      overflow-y: auto;
      padding: 0pt;
      height: 500pt;
      margin: 0pt;
      flex: 1;
      max-height: 100%;

      display: block;

      li {
        border-radius: 0pt;
        border-bottom: 1pt solid $border-color;
        margin: 0pt;
        padding: 0pt;
        padding-left: 2pt;
        border-left: 2pt solid transparent;

        a {
          display: block;
          text-decoration: none;
          color: $text-color;
          width: 100%;
          height: 20pt;
          padding: 4pt;

          .badge {
            margin-left: 5pt;
          }
        }
      }

      li.empty {
        padding: 10pt;
        font-size: 12pt;
        opacity: 0.5;
        background: none;
        text-align: center !important;
        border: none;
        margin: auto;
      }

      li.active {
        background-color: #f1f1f1;
        border-left: 2pt solid $color-primary;
      }

      // scrollbards
      &::-webkit-scrollbar {
        background-color: black;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10pt;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
    }

    button.toggle {
      width: 35pt;
      background: none;
      color: $text-color;
      border-radius: 4pt;
      margin: 4pt;
      text-align: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
    }
  
    header {
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      padding-top: 2pt;
      position: relative;
      border-bottom: 1pt solid $border-color;

      h1 {
        font-size: 12pt;
        font-weight: bold;
        color: $text-color;
        opacity: 0.8;
        margin: 0pt;
        padding: 0pt;
        margin-left: 10pt;
        margin-right: auto;
        line-height: 40pt;
      }
    }

    &.collapsed {
      // left: -213pt;
      margin-left: -213pt;

      ul {
        opacity: 0.0;
      }
    }
  } 

  .explorer {
    margin-top: 40pt;
    height: calc(100vh - 85pt);
  }
}

.traceid {
  opacity: 0.5;
  margin-top: 5pt;
  margin-bottom: 5pt;
  font-family: monospace;
}

button.share {
  width: auto;
  height: 40pt !important;
  margin-left: auto;
}

.app.new {
  header {
    border-bottom: none;
  }

  .traceview {
    height: calc(100vh - 50pt);
    padding: 0pt;
    padding-top: 2pt;
    border-radius: 6pt;
    background: transparent;
    overflow: hidden;

    .sidebyside {
      max-height: 100%;
    }
  }
}

.signup {
  background-color: white;
  padding: 20pt !important;
  border: 1pt solid #e1e4e8;
}

.traceview span.line.highlighted:before {
  content: "";
  // little circle
  width: 10pt;
  height: 10pt;
  border-radius: 50%;
  background-color: green;
  position: relative;
  top: 0.05em;
  margin-left: 4pt;
  margin-right: 4pt;
  display: inline-block;
}

.traceview span.line.highlighted {
  background-color: rgba(18, 90, 18, 0.168);
}

.swap-on-hover {
  span:nth-of-type(1) {
    display: inline;
  }
  span:nth-of-type(2) {
    display: none;
  }

  &:hover {
    span:nth-of-type(1) {
      display: none;
    }
    span:nth-of-type(2) {
      display: inline;
    }
  }
}

span.time {
  opacity: 0.3;
}

.event {
  .event-info {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    width: 15%;
    margin-right: 20px;

    .user {
    display: flex;
    align-items: center;
    * {
      margin-right: 10px;
      margin-top: 5px;
    } 
    img {
          border-radius: 50%;
          overflow: hidden;
          width: 30px;
          height: 30px;
      }
    }

    .event-time {
      font-size: 10pt;
    }
  }
}
