$color-primary: #8b89f7;
$color-button: #AEADBF;
$color-button-primary: #3A3E60;
$color-button-blue: #948FE4;
$color-green: #4AEC9B;
$color-bg: #1E1E1E;

$text-color: #2E2E2E;
$text-color-highlight: #131124;
$border-color: #aeadbf51;
$highlighted-background: rgba(0, 0, 0, 0.05);

$color-button-primary: #3A3E60;

.app {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: $text-color;
    // background-color: #1E1E1E;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: calc(100vh - 45pt) !important;
    padding: 0pt 5pt;
    overflow-y: hidden !important;
}

div[data-resize-handle] {
    border: 0.5pt solid grey;
    opacity: 0.2;
    cursor: ew-resize;
}

div[data-resize-handle]:hover,
div[data-resize-handle][data-resize-handle-state='hover'] {
    border: 0.5pt solid $color-primary !important;
    box-shadow: 0pt 0pt 0pt $color-primary;
    opacity: 0.8;
}

div[data-panel] {
    display: flex;
    flex-direction: column;
    position: relative;

    h2 {
        font-size: 18px;
        padding: 0pt;
        margin: 0pt;
        margin-left: 5pt;
    }

    textarea {
        flex: 1;
        display: block;
    }

    header {
        border: none;
        padding: 3pt;
        display: flex;
        height: 32pt;
        margin-bottom: 0pt;
        border-bottom: 1pt solid rgba(255, 255, 255, 0.102);

        button:last-child {
            margin-right: -1px;
        }

        h2 {
            line-height: 32pt;
            margin-right: 5pt;
        }

        button.inline {
            position: relative;
            border-radius: 5pt;
            margin-left: 8pt;
            top: 2pt;
            height: 28pt;
            ;
        }

        input[type='checkbox'] {
            margin-right: 5pt;
            margin-top: 12pt;
        }

        label {
            margin-top: 5pt;
            line-height: 30px;
            margin-right: 12pt;
            text-transform: none;
        }

        .vr {
            border-left: 1pt solid rgba(255, 255, 255, 0.052);
            margin-right: 6pt;
            margin-left: 4pt;
        }
    }

    button.green {
        background-color: $color-green;
        color: darken($color-green, 90%);

        &.with-arrow {
            background-image: url('/theme/images/arrow-right-dark.svg');
        }

    }

    button.small {
        margin: 2px 8px 2px 8px;
        font-size: 14px;
        border-radius: 30px;
        height: 30px;
        font-weight: 500;
        cursor: pointer;
        position: relative;

        background-color: rgba(255, 255, 255, 0.102);

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }

        &:active {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

.app .spacer {
    flex: 1;
}

.app {
    height: 100vh;
}

.app label {
    font-weight: 800;
    margin-right: 5pt;
    font-size: 14px;
    opacity: 0.5;
    text-transform: uppercase;
    display: block;
    margin-top: 8pt;
    margin-bottom: 5pt;
}

.app input {
    // like buttons below
    padding: 15px 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.102);
    border: none;
    font-size: 18px;
}

// same for select option
.app .select * {
    border-color: rgba(255, 255, 255, 0.102);
}

.app button {
    margin-right: 5pt;
}

.app .tabs {
    display: flex;
    padding: 0pt;
    margin: 0pt;
    padding-top: 2pt;
    margin-left: 5pt;
    flex-direction: row;

    button.tab {
        margin-top: 0pt !important;
        border: 2pt solid rgba(255, 255, 255, 0.102);
        background-color: rgba(255, 255, 255, 0.102);
    }

    button.action {
        background: none;
        font-size: 12pt;
        opacity: 0.7;
    }

    button.tab:not(.active) {
        background: none;
    }
}

.app .panel {
    padding: 0pt 10pt;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    padding-bottom: 5pt;

    button {
        margin-top: 15pt;
        min-height: 50px;
    }
}

.app .float {
    position: absolute;
    bottom: 10pt;
    right: 10pt;
    left: 10pt;
    z-index: 20;
    text-align: right;
    background: transparent;

    label {
        display: inline-block;
        position: relative;
        bottom: 2pt;
        margin-right: 10pt;
        margin-bottom: 0pt;
        margin-top: 0pt;
        padding-bottom: -15pt;
        font-size: 10pt;
        text-transform: none;
        line-break: anywhere;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &.left {
        right: auto;
        left: 10pt;
        text-align: left;
        max-width: 70%;
        bottom: 8pt;
        left: 8pt;
        z-index: 19;
    }
}

code.error {
    display: block;
    padding: 2pt;
    width: calc(100% - 25pt);
    border-radius: 4pt;
    background-color: rgba(81, 33, 33, 0.752);
    padding: 10pt;
    white-space: pre-wrap;
    max-height: 320pt;
    overflow-y: auto;
    margin-bottom: 50pt;
}

.app .status button {
    font-size: 14px !important;
    padding: 5pt 10pt !important;
    position: relative;
    top: -1pt;
}

.app .explorer {
    flex: 1;
    padding-left: 0pt;
    padding-right: 0pt;
    cursor: default;
    width: 100%;

    div[data-panel] {
        padding: 0pt;
        overflow-y: scroll;
    }

    svg.background {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
    }

    .elements {
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 100%;

        h2 {
            font-weight: 600;
            white-space: nowrap;
            margin: 3pt 0pt;
            font-size: 12pt;
            color: $text-color;

            svg {
                position: relative;
                margin-right: 5pt;
                margin-left: 5pt;
                top: 1pt;
                opacity: 0.9;
            }
        }
    }

    .element {
        padding: 4pt;
        border: 1pt solid rgba(255, 255, 255, 0.0);
        padding-left: 20pt;
        border-bottom: 1pt solid rgba(255, 255, 255, 0.102);
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;

        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;

        h3,
        h4 {
            padding: 0pt;
            margin: 0pt;
            font-size: 14px;
            display: inline-block;
            line-height: 18px;
        }

        h3 {
            font-weight: bold;
            font-size: 14px;
            margin-right: 5pt;
        }

        h4 {
            opacity: 0.4;
            position: relative;
            top: 3pt;
            white-space: nowrap;
            overflow: hidden;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &.active {
            background-color: rgba(255, 255, 255, 0.044);
            border-left: 1pt solid $color-primary;
        }
    }

    .empty {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        width: 100%;
        opacity: 0.7;
    }
}

.app .messages {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 0pt;
    position: relative;
    background: transparent;
    padding: 10pt 20pt;

    // scrollbar background
    &::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    // scrollbar thumb
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .message {
        margin: 10pt;
        padding: 0pt;
        border-radius: 8px;
        border: 1pt solid $border-color;
        position: relative;
        background: transparent;

        width: min(1000pt, 100%);
        margin: 5pt auto;

        p, div.paragraph {
            padding: 5pt;
            font-family: monospace;
            margin: 5pt;
            line-height: 1.8;
            font-size: 16px;
            font-weight: 500;
        }

        label {
            padding: 0pt;
            margin: 5pt;
            margin-bottom: 5pt;
            cursor: pointer;
            opacity: 0.7;
            color: $text-color;
            height: 20pt;
            line-height: 20pt;
            white-space: nowrap;
        }

        .compact-description {
            text-transform: none;
            margin-left: 10pt;
            color: $text-color !important;
        }

        code.id {
            position: absolute;
            right: 10pt;
            top: 15pt;
        }

        code.id::before {
            content: 'CALL_ID ';
            opacity: 0.5;
        }

        code.name {
            border-bottom: 1pt solid rgba(255, 255, 255, 0.1);
            line-height: 30px;
            padding: 10pt;
            display: block;
        }

        code.arguments,
        code.tool {
            padding: 10pt;
            display: block;
            white-space: pre-wrap;
            line-break: anywhere;
        }

        .tool-call {
            padding-top: 0pt;
            border-top: 1pt solid rgba(255, 255, 255, 0.1);
            position: relative;
        }

        label svg {
            position: relative;
            top: 1pt;
            margin-right: 3pt;
        }

        &:not(.collapsed) {
            label svg {
                position: relative;
                top: 2pt;
                margin-right: 3pt;
            }
        }

        .buttons {
            position: absolute;
            top: 4pt;
            right: 4pt;
            display: flex;
            flex-direction: row;
            height: 20pt;
            line-height: 22px;
            padding: 0;
            margin: 0;

            button {
                border-radius: 4pt;
                margin-left: 4pt;
                margin-right: -1pt;
                font-size: 10pt;
                color: rgba(0, 0, 0, 0.5);
            }

            button.inline.icon {
                width: 30pt;
                line-height: 5pt;
                text-overflow: none;
                color: transparent;
                border: none;

                svg {
                    opacity: 0.6;
                    color: $text-color;
                    width: 10pt;
                    height: 10pt;
                    margin: 0pt;
                    top: -5pt;
                }
            }
        }

        label svg.role {
            position: relative;
            top: 0pt !important;
            width: 8pt;
            height: 8pt;
        }
    }

    &:not(.keep-highlight) {
        .message {
            background: white !important;
        }
    }

    .message.collapsed:hover {
        border-color: opaque($text-color, 0.2);
        cursor: pointer;
    }

    label {
        margin-left: 7pt;
        margin-top: 5pt;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;

        .dot.highlight:first-of-type {
            margin-left: 10pt;
        }

        .dot {
            position: relative;
        }

        .dot:hover {
            // inset box shadow
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }
}

.app .explorer {
    .flow-highlight-controls {
        position: absolute;
        bottom: 20pt;
        left: 50%;
        transform: translateX(-50%);
        line-height: 30pt;
        padding: 5pt;
        padding-left: 20pt;
        padding-bottom: 4pt;
        z-index: 1;
        font-size: 12pt;
        display: flex;
        flex-direction: row;
        background-color: rgba(white, 0.1);
        // filter background
        backdrop-filter: blur(10pt);
        -webkit-backdrop-filter: blur(4pt);
        border-radius: 4pt;
        // border: 1pt solid white;
        box-shadow: 0pt 0pt 10pt rgba(0, 0, 0, 0.2);
        border-radius: 30pt;
        line-height: 40pt;
        text-overflow: ellipsis;
        white-space: nowrap;

        b {
            margin-right: 15pt;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            svg {
                position: relative;
                top: 2pt;
                margin-right: 8pt;
            }
        }

        button.blue {
            margin-left: 10pt;
            padding: 5pt 20pt;
            margin: 0pt;
            color: white;
            line-height: 20pt;
            height: 30pt;
        }

    }
}

.app .result {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10pt;
    margin: 10pt 0pt;
    border-radius: 4px;
}

code {
    position: relative;
}

button.inline {
    top: 5pt;
    right: 5pt;
    padding: 5pt 12pt;
    border-radius: 2pt;
    min-width: 30pt;
    font-size: 10pt;
    margin: 0pt;
    z-index: 2;
    background: white;
    color: inherit;
    border: 1pt solid rgba(0, 0, 0, 0.1);
    margin-right: 5pt;
    display: block;
    line-height: 1.0;
    height: 22pt;
    font-weight: bold;
    min-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 8pt;

    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    &:active {
        background: rgba(0, 0, 0, 0.2);
    }

    &.active {
        // use primary
        border: 1pt solid $color-primary;
    }

    svg {
        position: relative;
        top: 1pt;
        margin-right: 5pt;
        transform: scale(1.4);
    }
}

.app button.icon {
    svg {
        position: relative;
        top: 1pt;
    }

    padding: 10pt;
}

.app span.highlight {
    padding: 0pt 2pt;
    border-radius: 2pt;
}

svg.background path.highlight {
    stroke-width: 4;
    opacity: 0.05;
    stroke-dasharray: 5 5;
    transition: opacity 0.1s;
    animation: none;

    background-color: red;
}

svg.background rect.highlight-rect {
    fill: transparent;
    transition: fill;
    display: none;
}

@keyframes dash {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -10;
    }
}

@for $i from 1 through 10 {
    .hover-#{$i} svg.background path.highlight.hover-#{$i} {
        opacity: 0.2;
        animation: dash 1s linear infinite;
    }

    .hover-#{$i} .highlight.hover-#{$i} {
        background-color: rgba(91, 94, 38, 1.0);
        color: $text-color-highlight;

        * {
            color: $text-color-highlight;
        }
    }


    .hover-#{$i} .tool-call.highlight,
    .hover-#{$i} .message.highlight {
        background-color: $highlighted-background;
    }

    .keep-highlight.hover-#{$i} .tool-call.highlight,
    .keep-highlight.hover-#{$i} .message.highlight {
        background-color: $highlighted-background !important;
    }


}

svg.background path.highlight.hover-1 {
    stroke: rgb(176, 186, 36);
}

// the above as loop
// $colors: (
//     (176, 186, 36),
//     (74, 236, 155),
//     (147, 143, 228)
// );

// unroll the loop
svg.background path.highlight.hover-1 {
    stroke: rgb(176, 186, 36);
}

span.highlight.hover-1 {
    background-color: rgba(176, 186, 36, 1.0);
    border: 1pt solid rgba(176, 186, 36, 0.7);

    &:hover {
        background-color: rgba(176, 186, 36, 0.3);
    }
}

.hover-1 span.highlight.hover-1 {
    background-color: rgb(176, 186, 36);
}

.hover-1 svg.background rect.highlight-rect.hover-1 {
    fill: rgb(23, 23, 23);
}

svg.background path.highlight.hover-2 {
    stroke: rgb(74, 236, 155);
}

span.highlight.hover-2 {
    background-color: rgba(74, 236, 155, 0.2);
    border: 1pt solid rgba(74, 236, 155, 0.7);

    &:hover {
        background-color: rgba(74, 236, 155, 0.3);
    }
}

.hover-2 span.highlight.hover-2 {
    background-color: rgba(74, 236, 155, 0.3);
}

.hover-2 svg.background rect.highlight-rect.hover-2 {
    fill: rgb(23, 23, 23);
}

svg.background path.highlight.hover-3 {
    stroke: rgb(147, 143, 228);
}

span.highlight.hover-3 {
    background-color: rgba(147, 143, 228, 0.2);
    border: 1pt solid rgba(147, 143, 228, 0.7);

    &:hover {
        background-color: rgba(147, 143, 228, 0.3);
    }
}

.hover-3 span.highlight.hover-3 {
    background-color: rgba(147, 143, 228, 0.3);
}

.hover-3 svg.background rect.highlight-rect.hover-3 {
    fill: rgb(23, 23, 23);
}

span.dot.highlight {
    position: relative;
    border-radius: 50%;
    width: 1pt;
    height: 4.5pt;
    margin-right: 10pt;
    display: inline-block;
    transform: scale(2.0);
    border-width: 0.5pt;
    top: -1pt;
}

.badge {
    background-color: $color-green;
    color: darken($color-green, 90%);
    padding: 2pt;
    font-family: monospace;
    font-size: 10pt;
    border-radius: 2pt;

    &.badge-1 {
        background-color: #3E3AFF;
        color: white !important;
    }

    &.badge-2 {
        background-color: #AEADBF;
        color: darken($color-button, 90%) !important;
    }

    &.badge-3 {
        background-color: #3A3E60;
        color: white !important;
    }

    &.badge-4 {
        background-color: #646198;
        color: white !important;
    }

    &.badge-5 {
        background-color: #4AEC9B;
        color: darken($color-green, 90%) !important;
    }

    &.badge-6 {
        background-color: #FF3E3A;
        color: white !important;
    }

    &.badge-7 {
        background-color: #FFAE3A;
        color: black !important;
    }

    &.badge-8 {
        background-color: #FF3A3A;
        color: white !important;
    }
}

span.dimmed {
    opacity: 0.2;
    display: inline-block;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 10pt;
}

.highlighted-value-table {
    width: 100%;

    tr {
        background-color: rgba(0, 0, 0, 0.02);
    }

    td {
        padding: 10pt;
    }

    td.value {
        white-space: pre-wrap;
        // border-left: 1pt solid rgba(0, 0, 0, 0.102);
        flex: 1;
        position: relative;
        min-height: 30pt;

        &:hover {
            button.copy {
                opacity: 0.5;
            }
        }

        button.copy {
            position: absolute;
            right: 0pt;
            top: -12.5pt;
            opacity: 0.1;
            transition: opacity 0.1s, background-color 0.1s;
            background-color: rgba(0, 0, 0, 0.102);
            border: none;
            padding: 5pt;
            border-radius: 4pt;
            cursor: pointer;
            font-size: 12px;
            font-weight: 500;
            color: $text-color-highlight;
            width: 40pt;
            height: 30pt;
            transform: scale(0.7);

            svg {
                width: 20pt;
                height: 20pt;
                margin-top: 2pt;
            }

            &:hover {
                opacity: 1.0;
            }

            &.recently-copied {
                background-color: $color-primary;
                opacity: 1.0;
            }
        }

    }

    td.key {
        vertical-align: top;
        font-family: monospace;
        opacity: 0.8;
        max-width: 70pt;
        text-overflow: ellipsis;
        text-align: right;
        width: 70pt;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: fadeIn 0.15s;
    animation-fill-mode: forwards;

    .modal-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2000;
    }

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-bg;
        padding: 20pt;
        border-radius: 4pt;
        box-shadow: 0pt 0pt 10pt rgba(0, 0, 0, 0.2);
        max-width: 80%;
        max-height: 80%;
        overflow-y: auto;
        min-height: 200pt;
        z-index: 2001;
        min-width: 400pt;
        padding-bottom: 40pt;
        overflow-x: hidden;

        footer {
            margin: 0;
            padding: 0;
            background: transparent;
            // border-top: 1pt solid rgba(255, 255, 255, 0.0502);
            border-bottom: 0pt;
            height: 40pt;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            position: absolute;
            bottom: 0pt;
            left: 0pt;
            padding: 10pt;
            width: calc(100% - 20pt);
        }

        footer.contact {
            background-color: rgba(255, 255, 255, 0.1);
            text-align: left;
            display: flex;
            flex-direction: row;
            position: relative;
            width: calc(100% + 20pt);
            left: -20pt;
            justify-content: space-between;
            margin-top: 20pt !important;
            margin-bottom: -40pt;
            align-items: flex-start;
            padding-top: 15pt;
            background: linear-gradient(92deg, #434DA6 7.93%, #10135C 94.43%);

            h4 {
                line-height: 32pt;
                opacity: 0.8;
                font-size: 14pt;
            }

            button.blue.with-arrow {
                padding-right: 40pt !important;
            }
        }
    }

    h3 {
        margin: 0;
    }

    input {
        display: block;
        width: calc(100% - 28pt);
    }

    input.faded {
        color: rgba(255, 255, 255, 0.557);
    }

    span.description {
        display: block;
        padding: 0pt 5pt;
        margin: 10pt 0pt;
        margin-top: 5pt !important;
        opacity: 0.8;
        max-width: 400pt;
        font-size: 14px;
        line-height: 1.5;
    }

    label {
        margin-left: 5pt;
        margin-bottom: 10pt;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.editor-tabs {
    position: relative;

    >.tab {
        position: absolute;
        top: 0pt;
        left: 0pt;
        width: 100%;
        height: 100%;
        // opacity: 0;

        &.active {
            // opacity: 1.0;
            z-index: 10;
        }

        &:not(.active) {
            z-index: 0;
        }
    }
}

h2.tabs {
    margin: 0pt;
    padding: 0pt;
    position: relative;
    left: -5pt;
    width: calc(100%);

    button {
        border: none !important;
        padding: 5pt;
        border-radius: 4pt;
        height: 30pt;
        line-height: 20pt;
        margin: 0pt;
        position: relative;
        top: -1pt;
        font-size: 12pt;
        cursor: pointer;
        margin-right: 4pt;

        svg {
            position: relative;
            top: 1.5pt;
            margin: 0pt 2pt;
        }
    }

    button:not(.active) {
        opacity: 0.6;

        &:hover {
            background: rgba(255, 255, 255, 0.05);
            opacity: 1.0;
        }
    }


}

.examples {
    h3 {
        .description {
            margin: 0pt;
            padding: 0pt;
        }

        svg {
            position: relative;
            top: 0.15em;
            margin-right: 5pt;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-top: 0pt;
        padding-left: 20pt;
        padding-right: 20pt;
        overflow-y: auto;
        max-height: 60vh;
        margin-top: 20pt;
        margin-bottom: 20pt;
        width: calc(100%);
        position: relative;
        left: -20pt;
        overflow-y: auto;
    }

    .empty {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        width: 100%;
        opacity: 0.7;
        min-height: 300pt;
    }

    ul li {
        margin: 0;
        padding: 5pt 10pt;
        display: flex;
        flex-direction: row;
        border-radius: 4pt;
        align-items: center;
        margin: 0pt;
        background-color: rgba(255, 255, 255, 0.05);
        margin-bottom: 2pt;
        padding-top: 10pt;


        >div {
            flex: 1;
            margin-right: 0pt;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.07);
        }

        &.incompatible {
            opacity: 0.5;
        }

        h4 {
            margin: 0;

            svg {
                position: relative;
                top: 0.15em;
                margin-right: 5pt;
            }
        }

        button.try {
            opacity: 0.0;
            font-size: 12pt;
            color: white;
            padding: 0pt 10pt;
            border-radius: 4pt;
            height: 30pt;
        }

        &:hover button.try {
            opacity: 1.0;
        }

        p {
            opacity: 0.7;
            max-width: 400pt;
        }
    }
}

label.mono {
    font-family: monospace;
    font-weight: 500;
}

.comment-insertion-point {
    background-color: transparent;
    display: inline;
    white-space: pre-wrap;
    position: relative;

    transition: background-color 0.1s;

    &:hover {
        background-color: $highlighted-background;
    }

    &.has-comment {
        background-color: rgba(195, 201, 81, 0.3);
    }

    .comment-indicator {
        width: 10pt;
        height: 10pt;
        background-color: rgb(46, 101, 56);
        position: absolute;
        top: 3pt;
        left: -25pt;
        border-radius: 50%;
        z-index: 1000;
    }

    .comment-composer {
        width: calc(100%);
        margin-left: -10pt;
        height: auto;
        z-index: 800;

        display: flex;
        flex-direction: column;
        overflow: hidden;
        background: none;
        color: $text-color;
        padding: 5pt;
        position: relative;

        .comment-embed {
            flex: 1;
            flex-direction: column;
            background-color: white;
            border-radius: 8pt;
            border: 1pt solid $border-color;
            margin-left: 7pt;
        }

        .comment-embed-address {
            position: absolute;
            top: 12pt;
            right: 20pt;
            opacity: 0.2;
        }

        textarea {
            width: calc(100% - 30pt);
            font-size: 14pt;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 450;

            background-color: #ebebeb;
            color: $text-color;

            border: none;
            background: none;
            outline: none;
            -webkit-outline: none;
            max-width: calc(100% - 30pt);
            ;
            min-width: calc(100% - 30pt);
            ;
            max-height: auto;
            flex: 1;

            padding: 10pt;

            // user-scale freely
            resize: vertical;
            min-height: 100pt;
        }

        footer {
            height: auto;
            width: calc(100% - 20pt);
            min-height: auto;
            max-height: auto;
            background-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 10pt;
            position: relative;
            right: 15pt;
            background-color: #ebebeb29;
            padding-top: 10pt;
            padding-left: 30pt;

            button.inline {
                font-size: 10pt;
                height: 30pt;
                ;
            }

            span.description {
                font-family: NeueMontreal;
                font-size: 10pt;
                opacity: 0.7;
                margin-right: 10pt;
                margin-top: 5pt;
            }
        }

        // transform: translateX(-150%);
    }
}

.highlighted-value-table .comment-composer {
    background: none;
}

button.inline.primary {
    background-color: $color-button-primary;
    color: white;
    transition: background-color 0.01s;

    &:hover {
        background-color: darken($color-button-primary, 10%);
    }

    &:active {
        background-color: darken($color-button-primary, 20%);
    }
}

button.inline.icon {
    svg {
        color: $text-color;
        width: 10pt;
        height: 10pt;
        margin: 0pt;
        top: 0pt;
        left: 0pt;
    }
}

button.inline.danger {
    svg {
        color: red !important;
    }
}